//==============================================
//ログインページloginページのレイアウト部分
//==============================================
.l-login {
    display: block;
    background: #f6f5f4;
    background: rgba(255, 255, 255, 0.6);
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: solid #174113;
    border-radius: size(ss);
    width: 80%;
    height: 1000px;
    @include mqxl() {
        height: 3500px;
    }
    @include mql() {
        //720px以下
        height: 6350px;
    }
    @include mq() {
        //414px対応
        height: 5500px;
    }
}

.l-register {
    display: block;
    background: #f6f5f4;
    background: rgba(255, 255, 255, 0.6);
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: solid #174113;
    border-radius: size(ss);
    width: 80%;
    height: 1800px;
    @include mqxl() {
        height: 3500px;
    }
    @include mql() {
        //720px以下
        height: 6350px;
    }
    @include mq() {
        //414px対応
        height: 5500px;
    }
}

.l-login__formarea {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 640px;
    //  border: dotted #174113;
    //  border-radius: size(s);
    font-size: size(m);
    text-align: center;
}

//ここはコンポーネントのパーツに分ける

.c-form__title {
    font-size: size(l);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(xxl);
}

.c-formarea__message {
    display: block;
    margin-top: size(s);
    margin-bottom: size(sssss);
}

.c-formarea__text {
    background: white;
    font-size: size(l);
    height: 60px;
    width: 80%;
}
