//======================================
//

.c-productdetail__imgarea {
    //text-align: left;
    border: dotted 1px;
    border-radius: 10px;
    margin-top: size(xxl);
    // padding-bottom: size(l);
    //margin-bottom: size(l);
    margin-left: auto;
    margin-right: auto;

    width: 60%;
}
.c-productdetail__info {
    margin-top: 55px;
    font-size: size(m);
    text-align: center;
}

.c-productdetail__title {
    text-align: center;
    margin-left: size(s);
    margin-top: size(s);
    margin-bottom: size(ss);
    font-size: size(m);
}
.c-productdetail__img {
    width: 80%;
    margin-bottom: size(l);
    // margin-left: auto;
    //margin-right: auto;
}

.c-productdetail__listarea {
    border: dotted 1px;
    border-radius: 10px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.c-productdetail__list {
    text-align: left;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(xxl);
    height: 400px;
    font-size: size(xl);
}
.c-productlist__items__listt__sentence {
    margin-bottom: size(m);
    border-bottom: double;
    border-color: black;
}
.c-productdetail__listtitle {
    text-align: left;
    font-size: size(m);
    margin-top: size(xxl);
}

//===============================
//shopper購入するボタンのメニュー欄
//===============================
.c-productdetail__shoppermenu {
    margin-right: auto;
    margin-left: auto;
    background: white;
    height: 200px;
    border: dotted 1px;
    border-radius: 10px;
    //  display: flex;
    justify-content: center;
    width: 80%;
    display: flex;
}

.c-productdetail__shoppermenu__button {
    display: block;
    height: size(xl);
    text-align: center;
    line-height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: size(m);
    margin-right: size(m);
    border-radius: size(sss);

    transition: all 1.2s;
    //background: red;
    &:hover {
        background: orange;
        box-shadow: 1px 1px 1px 1px #b2d142;
        transform: translateX(+2px);
        border: none;
    }
}
