//============================================================
//_productlist 出品した商品リスト、購入された商品リストを記述するもの
//これに基づいてbuyproductlistも使用する
//=============================================================
.c-productlist {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(xxl);
    padding-top: size(xxl);
    @include mq() {
        display: block;
    }
    @include mql() {
        display: block;
    }
}
.c-productlist__items__title {
    background: rgb(220, 168, 70);
    color: white;
    width: 30%;
    font-size: size(m);
    padding-left: size(l);
    margin-left: size(ss);
    margin-top: size(xl);
    @include mql() {
        display: none;
    }

    @include mq() {
        width: 40%;
    }
}

.c-productlist__items {
    //c-productlist-itemsのところ
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(4l);
    margin-bottom: 100px;
    border-radius: size(m);
    border: solid size(ssss) #174113;
    //background: white;
    background: rgba(255, 255, 255, 0.9);

    @include mqxxl() {
        width: 80%;
    }
}
.c-productlist__items__img {
    width: 65%;
    background: #f6f5f4;
    background-attachment: fixed;
    opacity: 0.3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(4l);
    margin-bottom: -10px;
    display: block;

    @include mql() {
        //720px以下対応
        margin-top: size(xxl);
        font-size: size(s);
    }

    &__title {
        color: red;
        position: relative;
        background: white;
        border: solid 1px orange;
        border-radius: size(sss);
        text-align: center;
        opacity: 0.8;
        font-size: size(xxl);
        top: -120px;
        // left: 200px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-family: "Permanent Marker", cursive;

        @include mqxl() {
            width: 100%;
            font-size: size(s);
            top: -80px;
        }
        @include mql() {
            //720px以下対応
            width: 100%;
            font-size: size(s);
            top: -80px;
        }

        @include mq() {
            //414px対応
            top: -50px;

            width: 100%;
            font-size: size(s);
        }
    }
}
.c-productlist__items__img2 {
    width: 70%;
    height: 200px;
    display: block;
    background-attachment: fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(4l);
    margin-bottom: size(4l);
    background-attachment: fixed;
}

.c-productlist__items__list {
    text-align: center;
    display: block;
    font-size: size(l);
    text-align: center;
    background: rgba(224, 169, 73, 0.1);
    margin-top: size(sss);
    margin-bottom: 60px;
    padding-top: size(l);
    padding-bottom: size(sssss);
}

//==============================
//ボタン処理
//==============================
.c-productlist__items__bottom {
    //background: #a8c079;
    margin-top: size(m);
    padding-top: size(m);
    border: solid orange;
}
.c-productlist__items__bottom__area {
    background: #174113;
    margin-left: size(s);
    margin-right: size(s);
    margin-bottom: size(m);
    text-align: center;
    height: 50px;
    width: 50%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}
//===================================
//staffmypageのボタンエリア
//===================================
.c-staffmypage__button {
    background: #174113;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    height: 50px;
    width: 30%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}

//====================================================
//出品した商品一覧のリスト化のもの
//====================================================

.c-productlist__sentence {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 20px;
}

.c-under {
    border-bottom: double;
    border-color: black;
}

//====================================
//staff_productdetailのsassのコンポーネント化したもの
//=====================================
//shopperの方の詳細画面で用いる予定。
.c-productdetaillist {
    font-size: 20px;
    // text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    //ここでレスポンシブ対応が必要。
    margin-left: 20px;

    @include mqxxl() {
    }
    @include mqxl() {
    }
    @include mql() {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-size: 20px;
    }
    @include mq() {
        //写真を上にして他の要素を下にする
        //height: 200px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-size: 20px;
    }
}
.c-productdetailimg {
    //全画面は50%の状態にする
    width: 50%;
    height: 500px;
    margin: 40px;

    //1090pxから小さくする

    @include mqxxl() {
        height: 400px;
        width: 40%;
    }
    @include mqxl() {
        height: 400px;
        width: 50%;
    }
    //600px付近でセッティング必要かも
    @include mql() {
        height: 200px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    @include mq() {
        //写真を上にして他の要素を下にする
        height: 200px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
}
