//======================================
//

.c-productdetail__img {
    width: 50%;
}
.c-productdetail__list {
    background: green;
    color: white;
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(xxl);
    height: 400px;
    font-size: size(xl);
}
