//============================================================
//_productlist 出品した商品リスト、購入された商品リストを記述するもの
//これに基づいてbuyproductlistも使用する
//=============================================================
.c-productlist {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(xxl);
    padding-top: size(xxl);
    @include mq() {
        //414px対応
        display: block;
    }
    @include mql() {
        display: block;
    }
}

.c-productlist__items__title {
    //background: red;
    font-size: size(m);
    margin-left: size(l);
    margin-top: size(s);
    @include mq() {
        //414px対応
    }
}

.c-productlist__items {
    width: 44%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: size(xxl);
    border-radius: size(m);
    border: solid #174113;
    //background: white;
    background: rgba(255, 255, 255, 0.9);

    @include mqxl() {
        width: 38%;
    }
    @include mql() {
        width: 80%;
    }

    @include mq() {
        //414px対応
        // background: red;
        width: 80%;
    }
}
.c-productlist__items__img {
    width: 65%;
    background-attachment: fixed;
    opacity: 0.3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(l);
    display: block;
    &__title {
        color: red;
        position: relative;
        background: white;
        border: solid 1px orange;
        border-radius: size(sss);
        text-align: center;
        opacity: 0.8;
        font-size: size(xxl);
        top: -120px;
        // left: 200px;
        margin-left: auto;
        margin-right: auto;

        width: 100%;
        font-family: "Permanent Marker", cursive;

        @include mqxl() {
            width: 100%;
            font-size: size(s);
            top: -80px;
        }
        @include mql() {
            //720px以下対応
            width: 100%;
            font-size: size(s);
            top: -80px;
        }

        @include mq() {
            //414px対応
            width: 100%;
            font-size: size(s);
        }
    }
}
.c-productlist__items__img2 {
    width: 70%;
    display: block;
    background-attachment: fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(l);
    margin-bottom: size(l);
    background-attachment: fixed;
}

.c-productlist__items__list {
    text-align: center;
    display: block;
    font-size: size(l);
    text-align: center;

    margin-top: size(sss);
    margin-bottom: 60px;

    //background: red;
    // background: #a8c079;
}

//==============================
//ボタン処理
//==============================
.c-productlist__items__bottom {
    background: #a8c079;
    margin-top: size(m);
    padding-top: size(m);
    //font-size: size(l);
}
.c-productlist__items__bottom__area {
    background: #174113;
    margin-left: size(s);
    margin-right: size(s);
    margin-bottom: size(m);
    text-align: center;

    height: 50px;
    width: 50%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}
//===================================
//staffmypageのボタンエリア
//===================================
.c-staffmypage__button {
    background: #174113;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

    height: 50px;
    width: 30%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}
