//====================================================
//出品した商品一覧のリスト化のもの
//====================================================

.c-productlist__sentence {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 20px;
}

.c-under {
    border-bottom: double;
    border-color: black;
}

//====================================
//staff_productdetailのsassのコンポーネント化したもの
//=====================================
//shopperの方の詳細画面で用いる予定。
.c-productdetaillist {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;

    @include mql() {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-size: 20px;
    }
}
.c-productdetailimg {
    width: 50%;
    height: 500px;
    margin: 40px;
    @include mqxxl() {
        height: 400px;
        width: 40%;
    }
    @include mqxl() {
        width: 50%;
    }
    //600px付近でセッティング必要かも
    @include mql() {
        height: 200px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
}

//======================================
//商品詳細画面をまとめるもの コンポーネント部分
//======================================
.c-productdetail__info {
    margin-top: 50px;
    font-size: size(xxl);
    text-align: center;
    @include mqm() {
        font-size: size(m);
    }
}

.c-productdetail__imgarea {
    border: dotted 3px #174113;
    border-radius: 10px;
    margin-top: size(xxl);
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    @include mqxxl() {
        width: 70%;
        margin-top: size(xxl);
    }
    @include mql() {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
.c-productdetail__title {
    text-align: center;
    width: 50%;
    border: solid #174113;
    background: orange;
    color: white;
    border-radius: size(s);
    margin-left: size(xl);
    margin-top: size(xl);
    margin-bottom: size(xl);
    font-size: size(m);
    @include mqxxl() {
        display: none;
    }
}
.c-productdetail__img {
    width: 70%;
    height: 250px;
    margin-top: size(xl);
    margin-bottom: size(xl);
    margin-left: size(xxl);
    margin-right: size(xxl);
    @include mqxxl() {
        margin-top: size(xxl);
    }
    @include mq() {
        margin-top: size(xxl);
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

.c-productdetail__listarea {
    border: dotted 3px;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    @include mqxxl() {
        margin-top: size(xxl);
    }
    @include mq() {
        width: 100%;
    }
}

.c-productdetail__list {
    text-align: left;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(2l);
    font-size: size(xl);
    height: 330px;
}
.c-productlist__items__listt__sentence {
    margin-bottom: size(m);
    border-bottom: double;
    border-color: black;
    @include mqxxl() {
        font-size: size(m);
        padding: size(sss);
        margin-bottom: size(l);
    }

    @include mql() {
        font-size: size(s);
        margin-bottom: size(xxl);
    }

    @include mqm() {
        font-size: size(ss);
    }
    @include mq() {
        padding: size(sss);
        margin-bottom: size(l);
    }
}
//===================================================
//共通化するエリアのコンポーネント部分 staffmypageのリスト
//===================================================
//購入された用のflex
.c-flex {
    display: flex;
}

.c-staffmypagelistarea {
    // background: white;
    // background: color("background");
    // background-image: url("https://s3.ap-northeast-1.amazonaws.com/webukatu-haikikaku.com/awss3/imagebackground/top.jpg");
    background-color: rgba(255, 255, 255, 0.6);
    font-size: size(l);
    padding: size(l);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.c-staffmypagelistarea__list {
    //display: flex;
    flex-wrap: 800px;

    margin: auto;
    width: 80%;
}

//=====================================================
//staff_exhibitproductlist とstaff_buyproductlist(全体）
//=====================================================
.c-exhibitproductlist {
    display: block;
    background: rgba(255, 255, 255, 0.6);
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 160px;
    border: solid #174113;
    border-radius: size(ss);
    width: 70%;
    padding-left: 50px;
    padding-right: 50px;
    //height: 400px;
    @include mql() {
        width: 60%;
    }
}

//===========================================
//shopper-mypageの検索一覧
//===========================================
.c-serch {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: size(3l);
    @include mqxxl() {
        display: block;
    }
}

.c-search__title {
    //background: green;
    margin-right: size(sss);
    margin-left: size(m);
    margin-top: size(sss);
    @include mqxxl() {
        margin-bottom: 20px;
        font-size: size(l);
    }
}

.c-search__prefecture {
    &:hover {
        background: #f6f5f4;
    }
}
.c-serch2 {
    text-align: center;
    display: flex;
    margin-top: 60px;
    margin-left: 60%;

    @include mqxxl() {
        display: block;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: size(l);
    }
}
.c-search__calender {
    background: white;
    margin: size(l);
    font-size: size(m);
    &:hover {
        background: #f6f5f4;
    }
}

//=================================
//ここから新要素 (コンビニのマイページについて)
//=================================

.c-staffmypagelistarea__area {
    border: solid #174113;
    background: white;
    flex-wrap: wrap;
    margin: 2%;
    padding: 2%;
    //width: 20%;
    text-align: center;
}

.c-staffmypagelistarea__text {
    text-align: center;
}

.c-staffmypagelistarea__title1 {
    background: #174113;
    width: 100%;
    height: 80px;
    color: white;
    font-size: size(l);
}
.c-staffmypagelistarea__list__img {
    margin-left: auto;
    margin-right: size(4l);
    text-align: center;
    // margin: auto;
    width: 200px;
    height: 200px;
}
.c-staffmypagelistarea__list__name {
    font-size: size(l);
    text-align: center;

    //margin-left: auto;
    //  margin-right: auto;
}
.c-staffmypagelistarea__list__price {
    color: red;
    text-align: center;

    //   margin-left: size(4l);
    //  margin-right: size(4l);
}
.c-staffmypagelistarea__list__a {
    // margin-left: size(4l);
    // margin-right: size(4l);
    text-align: center;
    font-size: size(l);
    color: black;
    border-bottom: solid;
    border-color: black;
    border-width: 1px; /*5ピクセルの太さにする*/

    &:hover {
        color: orange;
        border-color: #174113;
        border-width: 1px;
    }
}
.c-staffmypagelistarea__list__bought {
    background: red;
    border: solid red;
    color: white;
    //  position: absolute;
    // top: 50%;
}
/*
.c-staffmypagelistarea__list__bought {
    background: red;
    border: solid red;
    color: white;
}
*/
