//======================================
//
.c-productdetail__title {
    text-align: center;
}
.c-productdetail__img {
    width: 50%;
}
.c-productdetail__list {
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(xxl);
    height: 400px;
    font-size: size(xl);
}
.c-productlist__items__listt__sentence {
    border-bottom: double;
    border-color: black;
}
