//============================================================
//_productlist 出品した商品リスト、購入された商品リストを記述するもの
//これに基づいてbuyproductlistも使用する
//フォーム画面以外のものにする例えば商品一覧リストとかなど
//=============================================================
.c-productlist {
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(xxl);
    padding-top: size(xxl);
    @include mq() {
        display: block;
    }
    @include mql() {
        display: block;
    }
}
.c-productlist__items__title {
    background: rgb(220, 168, 70);
    color: white;
    width: 30%;
    font-size: size(m);
    padding-left: size(l);
    margin-left: size(ss);
    margin-top: size(xl);
    @include mql() {
        display: none;
    }

    @include mq() {
        width: 40%;
    }
}

.c-productlist__items {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(4l);
    margin-bottom: 100px;
    border-radius: size(m);
    border: solid size(ssss) #174113;
    background: rgba(255, 255, 255, 0.9);
    @include mqxxl() {
        width: 80%;
    }
}
.c-productlist__items__img {
    width: 65%;
    background: #f6f5f4;
    background-attachment: fixed;
    opacity: 0.3;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(4l);
    margin-bottom: -10px;
    display: block;

    @include mql() {
        //720px以下対応
        margin-top: size(xxl);
        font-size: size(s);
    }
    &__title {
        color: red;
        position: relative;
        background: white;
        border: solid 1px orange;
        border-radius: size(sss);
        text-align: center;
        opacity: 0.8;
        font-size: size(xxl);
        top: -120px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-family: "Permanent Marker", cursive;
        @include mqxl() {
            width: 100%;
            font-size: size(s);
            top: -80px;
        }
        @include mql() {
            //720px以下対応
            width: 100%;
            font-size: size(s);
            top: -80px;
        }

        @include mq() {
            //414px対応
            top: -50px;
            width: 100%;
            font-size: size(s);
        }
    }
}
.c-productlist__items__img2 {
    width: 70%;
    height: 200px;
    display: block;
    background-attachment: fixed;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(4l);
    margin-bottom: size(4l);
    background-attachment: fixed;
}

.c-productlist__items__list {
    text-align: center;
    display: block;
    font-size: size(l);
    text-align: center;
    background: rgba(224, 169, 73, 0.1);
    margin-top: size(sss);
    margin-bottom: 60px;
    padding-top: size(l);
    padding-bottom: size(sssss);
}

//==============================
//商品リストのボタン側のデザイン
//==============================
.c-productlist__items__bottom {
    margin-top: size(m);
    padding-top: size(m);
    border: solid orange;
}
.c-productlist__items__bottom__area {
    background: #174113;
    margin-left: size(s);
    margin-right: size(s);
    margin-bottom: size(m);
    text-align: center;
    height: 50px;
    width: 50%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}
//===================================
//staffmypageのボタンエリア
//===================================
.c-staffmypage__button {
    background: #174113;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    height: 50px;
    width: 30%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}

//====================================================
//出品した商品一覧のリスト化のもの
//====================================================

.c-productlist__sentence {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 20px;
}

.c-under {
    border-bottom: double;
    border-color: black;
}

//====================================
//staff_productdetailのsassのコンポーネント化したもの
//=====================================
//shopperの方の詳細画面で用いる予定。
.c-productdetaillist {
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;

    @include mqxxl() {
    }
    @include mqxl() {
    }
    @include mql() {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-size: 20px;
    }
    @include mq() {
        //写真を上にして他の要素を下にする
        //height: 200px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-size: 20px;
    }
}
.c-productdetailimg {
    width: 50%;
    height: 500px;
    margin: 40px;
    @include mqxxl() {
        height: 400px;
        width: 40%;
    }
    @include mqxl() {
        height: 400px;
        width: 50%;
    }
    //600px付近でセッティング必要かも
    @include mql() {
        height: 200px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    @include mq() {
        height: 200px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
}

//======================================
//商品詳細画面をまとめるもの コンポーネント部分
//======================================
.c-productdetail__info {
    margin-top: 50px;
    font-size: size(xxl);
    text-align: center;
    @include mqm() {
        font-size: size(m);
    }
}

.c-productdetail__imgarea {
    border: dotted 3px #174113;
    border-radius: 10px;
    margin-top: size(xxl);
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    @include mqxxl() {
        width: 70%;
    }
}
.c-productdetail__title {
    text-align: center;
    width: 50%;
    border: solid #174113;
    background: orange;
    color: white;
    border-radius: size(s);
    margin-left: size(xl);
    margin-top: size(xl);
    margin-bottom: size(xl);
    font-size: size(m);
    @include mqxxl() {
        display: none;
    }
}
.c-productdetail__img {
    width: 70%;
    height: 250px;
    margin-top: size(xl);
    margin-bottom: size(xl);
    margin-left: size(xxl);
    margin-right: size(xxl);
    @include mqxxl() {
        margin-top: size(xxl);
    }
}

.c-productdetail__listarea {
    border: dotted 3px;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    @include mqxxl() {
        width: 100%;
    }
    @include mq() {
        height: 280px;
    }
    @include mqm() {
        height: 300px;
    }
}

.c-productdetail__list {
    text-align: left;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(2l);
    font-size: size(xl);
    height: 330px;
}
.c-productlist__items__listt__sentence {
    margin-bottom: size(m);
    border-bottom: double;
    border-color: black;
    @include mqxxl() {
        font-size: size(m);
        padding: size(sss);
        margin-bottom: size(l);
    }

    @include mql() {
        font-size: size(s);
        margin-bottom: size(xxl);
    }

    @include mqm() {
        font-size: size(ss);
        margin-bottom: size(xxl);
    }
    @include mq() {
        padding: size(sss);
        margin-bottom: size(l);
    }
}
//===================================================
//共通化するエリアのコンポーネント部分 staffmypageのリスト
//===================================================
.c-staffmypagelistarea {
    background: rgba(255, 255, 255, 0.6);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border-radius: size(ss);
    font-size: size(l);
    padding: size(l);
}

//=====================================================
//staff_exhibitproductlist とstaff_buyproductlist(全体）
//=====================================================
.c-exhibitproductlist {
    display: block;
    background: rgba(255, 255, 255, 0.6);
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 160px;
    border: solid #174113;
    border-radius: size(ss);
    width: 70%;
    padding-left: 50px;
    padding-right: 50px;
    //height: 400px;
    @include mqxl() {
    }
    @include mql() {
        width: 60%;
    }

    @include mq() {
        //414px対応
        width: 60%;
    }
}

//===========================================
//shopper-mypageの検索一覧
//===========================================
.c-serch {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: size(3l);
    @include mqxxl() {
        display: block;
    }
}

.c-search__title {
    //background: green;
    margin-right: size(sss);
    margin-left: size(m);
    margin-top: size(sss);
    @include mqxxl() {
        margin-bottom: 20px;
        font-size: size(l);
    }
}

.c-search__prefecture {
    &:hover {
        background: #f6f5f4;
    }
}
.c-serch2 {
    text-align: center;
    display: flex;
    margin-top: 60px;
    margin-left: 558px;
    @include mqxxl() {
        display: block;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
    }
}
.c-search__calender {
    &:hover {
        background: #f6f5f4;
    }
}
