//==========================================================
//(ユーザーのプロフィール編集ボタン)(shopper_profile_display.php)
//==========================================================

.c-formshopperprofile__sub {
    background: #174113;
    border: none;
    color: white;
    width: 12%;
    font-size: size(m);
    border-radius: size(ss);
    position: absolute;
    right: 25%;
    margin: 50px 50px;
    transition: all 1.2s;
    /*
    @include mql() {
        width: 30%;
        margin: auto;
    }
    */
    @include mqxl() {
        width: 15%;
        margin: auto;
        //レスポンシブ対策960px以下にボタンを対応
    }

    @include mql() {
        width: 20%;
        margin: auto;
    }

    @include mq() {
        width: 30%;
        margin: auto;
    }
}

.c-formshopperprofile__sub:hover {
    cursor: pointer;
    background: #b2d142;
}
//====================================
//shopperの商品詳細のボタン
//================================
.c-shopper__action {
    background: #b2d142;

    margin: auto;
    width: 100%;
}

.c-shopper__action__button {
    background: #174113;
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;
    margin-top: size(xxl);
    height: 50px;
    width: 30%;
    border: none;
    border-radius: size(ss);
    color: white;
    margin-bottom: size(xxl);
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}

.c-staff__action__button {
    background: #174113;
    margin-left: 16px;
    margin-right: 16px;

    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 60px;
    width: 30%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}
.c-top__button {
    background: #174113;
    margin-left: 16px;
    margin-right: 16px;

    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 60px;
    width: 30%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}

//===============================
//トップ画面のボタン
//===============================
