//接続ok
//変数使えるかどうかの確認ok

//==========================================================
//(ユーザーのプロフィール編集ボタン)(shopper_profile_display.php)
//==========================================================

.c-formshopperprofile__sub {
    background: #174113;
    border: none;
    color: white;
    width: 12%;
    font-size: size(m);
    border-radius: size(ss);
    position: absolute;
    right: 25%;
    margin: 50px 50px;
    transition: all 1.2s;
    /*
    @include mql() {
        width: 30%;
        margin: auto;
    }
    */
    @include mqxl() {
        width: 15%;
        margin: auto;
        //レスポンシブ対策960px以下にボタンを対応
    }

    @include mql() {
        width: 20%;
        margin: auto;
    }

    @include mq() {
        width: 30%;
        margin: auto;
    }
}

.c-formshopperprofile__sub:hover {
    cursor: pointer;
    background: #b2d142;
}
//========================================================
//(ユーザーのプロフィール編集ボタン(staff_profile_display.php)
//========================================================
//上述と併用できるの併用。
