//=====================================
//ボタンエリア
//=====================================
//0 toppage画面のボタン
.c-top__button {
    background: #174113;
    margin-left: size(l);
    margin-right: size(l);
    text-align: center;
    margin-top: 85px;
    margin-bottom: 20px;
    height: 60px;
    width: 30%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
    @include mq() {
        margin-left: size(s);
        margin-right: size(s);
        font-size: 10px;
        width: 35%;
    }
}
//1 (ユーザーのプロフィール編集ボタン)(shopper_profile_display.php)
.c-formshopperprofile__sub {
    background: #174113;
    border: none;
    color: white;
    width: 12%;
    font-size: size(m);
    border-radius: size(ss);
    position: absolute;
    right: 25%;
    margin: 50px 50px;
    transition: all 1.2s;
    @include mqxl() {
        width: 15%;
        margin: auto;
        //レスポンシブ対策960px以下にボタンを対応
    }

    @include mql() {
        width: 20%;
        margin: auto;
    }
    @include mqm() {
        width: 30%;
        margin: auto;
    }

    @include mq() {
        width: 30%;
        margin: auto;
    }
}

.c-formshopperprofile__sub:hover {
    cursor: pointer;
    background: #b2d142;
}
//..........................................................
//2shopperの商品詳細のボタン
.c-shopper__action {
    margin: auto;
    width: 100%;
}

.c-shopper__action__button {
    background: #174113;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    margin-top: size(xxl);
    height: 50px;
    width: 40%;
    border: none;
    border-radius: size(ss);
    color: white;
    margin-bottom: size(xxl);
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
    @include mqxl() {
        //display:block;
        width: 80%;
        margin-top: -5px;
        margin-bottom: size(3l);
        margin-left: 10px;
        margin-right: 10px;
    }
}
//...........................................................
//..........................................................
//商品を編集する画面出品する画面のボタン
.c-staffform__area__submitbutton {
    display: block;
    background: #174113;
    margin-top: 80px;
    margin-left: 800px;
    height: 60px;
    width: 20%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}
//商品を編集するボタンの商品削除ボタン
.c-staffform__area__deletebutton {
    display: block;
    background: #174113;
    margin-top: 50px;
    text-align: center;
    margin-left: 1000px;
    height: 60px;
    width: 16%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: red;
    }
}

//=============================
//ボタンの中のsubmitボタンシリーズ
//=============================

//パスワードリマインダーの画面のボタン
.c-remind__button {
    background: #174113;
    color: white;
    margin-top: 40px;
    margin-left: 410px;
    text-align: center;
    width: 34%;
    height: 50px;
    border: none;
    border-radius: size(ss);
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}
//ログインボタンの画面
.c-login__button {
    background: #174113;
    height: 60px;
    width: 20%;
    margin-left: 50px;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
    @include mqxl() {
    }
    @include mql() {
        //720px以下
    }
    @include mqm() {
        //560px以下対応
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: size(2l);
    }

    @include mq() {
        //414px対応
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: size(2l);
    }
}
//ユーザー登録するときの送信ボタンコンビニ側
.c-register__button {
    background: #174114;
    color: white;
    border: none;
    border-radius: size(sss);
    font-size: size(m);
    margin-top: 200px;
    margin-left: 80%;
    text-align: center;
    height: 65px;
    padding: size(s);
    transition: all 1.2s;
    width: 34%;
    &:hover {
        background: orange;
    }
    @include mqxl() {
        //980px以下
        width: 50%;
        margin-left: 70%;
    }
    @include mql() {
        //720px以下
        width: 60%;
        margin-left: 50%;
    }
    @include mqm() {
        //560px対応
        width: 73%;
        font-size: size(m);
        margin-top: 120px;
        margin-left: 50%;
        text-align: center;
    }

    @include mq() {
        //414px対応
        width: 60%;
        margin-top: 100px;
    }
}

.c-register__custombutton {
    background: #174114;
    color: white;
    border: none;
    border-radius: size(sss);
    font-size: size(m);
    margin-top: 200px;
    margin-left: 70%;
    text-align: center;
    height: 65px;
    padding: size(s);
    transition: all 1.2s;
    width: 34%;
    &:hover {
        background: orange;
    }
    @include mqxl() {
        //980px以下
        //  width: 50%;
        //  margin-left: 70%;
    }
    @include mql() {
        //720px以下
        width: 50%;
        margin-left: 50%;
    }
    @include mqm() {
        //560px対応
        width: 60%;
        font-size: size(m);
        margin-top: 120px;
        margin-left: 40%;
    }

    @include mq() {
        //414px対応
        width: 60%;
        margin-top: 100px;
    }
}

//...............................................ここまで
//ユーザー登録するときの送信ボタンshopper側
.c-register__shopperbutton {
    background: #174114;
    color: white;
    border: none;
    border-radius: size(sss);
    font-size: size(m);
    margin-top: 300px;
    margin-left: 57%;
    text-align: center;
    height: 65px;
    padding: size(s);
    transition: all 1.2s;
    width: 24%;
    &:hover {
        background: orange;
    }
}
//...............................................ここまで

//パスワードリマインダーのリンクに飛ぶ画面
.c-remind__text {
    transition: all 0.4s;
    display: block;
    width: 50%;
    margin-left: 450px;
    margin-top: size(4l);
    &:hover {
        color: red;
        font-size: size(l);
    }
}

//商品を編集する画面ここまで

//===============================
//shopper購入するボタンのメニュー欄
//===============================
.c-productdetail__shoppermenu {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    width: 100%;
    display: flex;
}

//..........................................................ボタンエリアここまで

//============================================================================
// コンビニ側商品を出品する画面と編集する画面 staff_exhibitproduct and updateproduct
//=========================================================================
//c-form4は商品を編集する画面＋ユーザー登録のshopper側の画面

//お客様ログイン画面。
.c-form1 {
    display: block;
    background: #f6f5f4;
    background: rgba(255, 255, 255, 0.6);
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: solid #174113;
    border-radius: size(ss);
    width: 80%;
    height: 1050px;
    @include mqxl() {
    }
    @include mql() {
        //720px以下
    }
    @include mq() {
        //414px対応
        height: 900px;
    }
}
//ユーザー登録画面
.c-form2 {
    display: block;
    background: #f6f5f4;
    background: rgba(255, 255, 255, 0.6);
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: size(l);
    padding-right: size(l);
    border: solid #174113;
    border-radius: size(ss);
    width: 80%;
    height: 2500px;
    @include mqxl() {
        height: 2700px;
    }
    @include mql() {
        //720px以下
        height: 2700px;
    }
    @include mqm() {
        //560px以下対応
        height: 2500px;
    }

    @include mq() {
        //414px対応
        height: 2500px;
    }
}
//パスワードリマインダー画面
.c-form3 {
    display: block;
    background: #f6f5f4;
    background: rgba(255, 255, 255, 0.6);
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: solid #174113;
    border-radius: size(ss);
    width: 80%;
    height: 460px;
    @include mqxl() {
    }
    @include mql() {
        //720px以下
    }
    @include mq() {
        //414px対応
    }
}

.c-form4 {
    display: block;
    background: #f6f5f4;
    background: rgba(255, 255, 255, 0.6);
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    border: solid #174113;
    border-radius: size(ss);
    width: 80%;
    height: 1450px;
    @include mqxl() {
    }
    @include mql() {
        //720px以下
    }
    @include mq() {
        //414px対応
        height: 1400px;
    }
}
//商品を出品する画面と商品を編集する画面
.c-staffform__area {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: size(4l);
    height: 1050px;
    border: solid #174113;
    border-radius: size(sss);
}

//..................................................フォームエリア大枠を構成するところここまで

//フォームエリア入力タイトル

//フォームエリア入力

//===========================================================
//画面のタイトル文字
//===========================================================
//商品を出品する画面＋商品を編集する画面のレスポンシブデザインするためのもの
.c-staffform__area__side {
    width: 100%;
    margin-left: 18%;
    margin-top: 8%;
    display: flex;
    margin-bottom: -6%;
}

.c-staffform__area__textname {
    height: 40px;
    background: white;
    font-size: size(m);
    text-align: left;
    margin: size(sss);
    margin-bottom: size(l);
}

.c-staffform__area__uploadimgarea {
    width: 60%;
    background: #174113;
    color: white;
    text-align: center;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: size(l);
    font-size: size(m);
    padding: size(s);
    cursor: pointer;
    transition: 0.3s;
    border-radius: size(m);
    &:hover {
        background: orange;
        border: dotted orange;
        border-radius: size(l);
        //  color: orange;
    }
}

.c-staffform__area__textimgarea {
    //写真を挿入したときに描かれる場所
    font-size: size(l);
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: size(l);
    background: white;
    width: 60%;
    height: 320px;
    padding-top: size(l);
    padding-bottom: size(l);
    padding-left: size(l);
    padding-right: size(l);
    border: dotted #174113;
    border-radius: size(ss);
}

//商品を出品する画面+編集する画面ここで終了する

//=======================================
//フォームテキストエリア title文字          //
//=======================================
//ログイン画面 ユーザー登録画面 プロフィール編集画面について
//見出しの部分のレイアウト。（コンビニ側が出品した)
.c-mypagemenu__title {
    text-align: center;
    margin: 40px;
    font-size: size(l);
    @include mql() {
        font-size: size(m);
    }

    @include mqm() {
        font-size: size(s);
    }
}

//======================================
//マイページのロゴタイトル
//======================================
.c-mypagemenu {
    background: rgba(255, 255, 255, 0.6);
    height: 124px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border: solid size(sssss);
    border-radius: size(sss);

    @include mqm() {
        width: 80%;
        height: 100px;
        margin-top: 60px;
        margin-bottom: -50px;
    }
    @include mqm() {
        width: 80%;
        height: 100px;
        margin-top: 80px;
        margin-bottom: 50px;
    }
}

//=======================================================================
//ログイン 自動でログインする ログインするボタンを閉めるところ
//=======================================================================
.c-loginarea {
    margin-top: 100px;
    margin-bottom: 60px;
    width: 80%;
    margin-left: 306px;
    @include mqxl() {
    }
    @include mql() {
    }
    @include mq() {
        width: 80%;
        font-size: 10x;
        margin-left: auto;
        margin-right: auto;
        margin-top: size(m);
    }
}

//====================================
//警告文
//====================================
.c-warning {
    font-size: 18px;
    color: red;
}

.c-warning2 {
    font-size: size(l);
    color: red;
    margin-top: size(4l);
    text-align: center;
    @include mqxl() {
    }

    @include mql() {
        font-size: size(m);
    }

    @include mqm() {
        font-size: size(s);
        margin-top: size(4l);
        margin-left: size(s);
        margin-right: size(s);
        margin-bottom: -40px;
    }

    @include mq() {
        /*
        font-size: size(s);
        margin-top: size(4l);
        margin-left: size(s);
        margin-right: size(s);
        margin-bottom: -40px;
        */
    }
}

.c-errormessage {
    color: rgb(234, 14, 14);
}

//==============================================
//フォームエリア
//==============================================
.c-form__area {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 80px;
    height: 640px;
    font-size: size(m);
    text-align: center;
}
//フォームのタイトル
.c-form__title {
    font-size: size(2l);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    @include mqxl() {
    }
    @include mql() {
        //720px以下
        font-size: size(l);
    }
    @include mqm() {
        //560px以下
        //font-size: size(l);
    }

    @include mq() {
        //414px対応
        // font-size: size(l);
    }
}

.c-staffform__title {
    font-size: size(l);
    display: block;
    width: 12%;
}
//........................................

//フォームに入力するメッセージ
.c-form__area__message {
    display: block;
    margin-top: size(4l);
    margin-bottom: size(sssss);
    font-size: size(l);
    @include mqxl() {
    }
    @include mql() {
        //720px以下
    }
    @include mqm() {
        //560px以下
        font-size: size(m);
    }

    @include mq() {
        //414px対応
        //  font-size: size(m);
    }
}

.c-form__area__text {
    background: white;
    margin-bottom: size(l);
    font-size: size(l);
    height: 60px;
    width: 76%;
    &:hover {
        background: #f6f5f4;
    }
    @include mqxl() {
    }
    @include mql() {
        //720px以下
        width: 96%;
    }
    @include mqm() {
        //560px対応
        font-size: size(m);
        margin-bottom: size(ss);
        height: size(4l);
    }

    @include mq() {
        //414px対応
        font-size: size(m);
        margin-bottom: size(ss);
        height: size(4l);
    }
}

.c-staffform__area__textprice {
    background: white;
    height: 40px;
    width: 20%;
    font-size: size(l);
    margin-bottom: size(l);
}

.c-staffform__area__textcarender {
    background: white;
    width: 20%;
    height: size(xxl);
    margin-right: auto;
    margin-bottom: size(l);
}

//................................................
//=========================================
//住所記入欄
//=========================================
.c-form__adresstitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: size(xl);

    @include mqxl() {
        width: 100%;
        font-size: size(l);
        margin-top: size(xl);
        margin-bottom: size(s);
    }
    @include mql() {
        //720px以下
        width: 100%;
        font-size: size(l);
        margin-top: size(xl);
        margin-bottom: size(s);
    }
    @include mqm() {
        //414px対応
        width: 100%;
        font-size: size(m);
        //  margin-top: size(xl);
        //  margin-bottom: size(s);
    }

    @include mq() {
        //414px対応
        /*
        width: 100%;
        font-size: size(m);
        margin-top: size(xl);
        margin-bottom: size(s);
        */
    }
}

.c-formstaff__adressarea {
    height: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: solid #174113;
    border-radius: size(l);
    @include mqxl() {
    }
    @include mql() {
        //720px以下
        width: 100%;
    }
    @include mq() {
        //560px以下対応
        //width: 100%;
    }

    @include mq() {
        //414px対応
        //     width: 100%;
    }
}
.c-formstaff__prefecture {
    margin-left: 20px;
}
.c-formstaff__prefecture__text {
    background: white;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
        background: #f6f5f4;
    }
    @include mqxl() {
        margin-top: size(s);
        margin-bottom: size(s);
    }
    @include mql() {
        //720px以下
        // margin-top: size(s);
        //   margin-bottom: size(s);
    }
    @include mqm() {
        //560px以下
        margin-top: size(m);
        margin-bottom: size(m);
    }

    @include mq() {
        //414px対応
        margin-top: size(m);
        margin-bottom: size(m);
    }
}

.c-formstaff__adress__text {
    background: white;
    height: 200px;
    width: 60%;
    border-radius: size(ssss);
    margin-top: size(l);
    &:hover {
        background: #f6f5f4;
    }
    @include mqxl() {
        width: 70%;
    }
    @include mql() {
        //720px以下
        width: 80%;
    }
    @include mqm() {
        //560px以下
        margin-top: size(m);
        margin-bottom: size(m);
        width: 84%;
    }

    @include mq() {
        //414px対応
        /*
        margin-top: size(m);
        margin-bottom: size(m);
        width: 84%;
        */
    }
}
