//=====================================
//ボタンエリア
//=====================================
//1 (ユーザーのプロフィール編集ボタン)(shopper_profile_display.php)
.c-formshopperprofile__sub {
    background: #4b4b4b;
    border: none;
    color: white;
    width: 12%;
    font-size: size(m);
    border-radius: size(ss);
    position: absolute;
    right: 25%;
    margin: 50px 50px;
    transition: all 1.2s;
    @include mqxl() {
        width: 15%;
        margin: auto;
    }

    @include mql() {
        width: 20%;
    }
    @include mqm() {
        width: 30%;
    }
    @include mq() {
        width: 30%;
    }
}

//2shopperの商品詳細のボタン
.c-shopper__action {
    margin: auto;
    width: 100%;
}

.c-shopper__action__button {
    background: #4b4b4b;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    margin-top: size(xxl);
    height: 50px;
    width: 40%;
    border: none;
    border-radius: size(sssss);
    color: white;
    margin-bottom: size(xxl);
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
    @include mqxl() {
        width: 80%;
        margin-top: -5px;
        margin-bottom: size(3l);
        margin-left: 10px;
        margin-right: 10px;
    }
}
//..........................................................
//商品を編集する画面出品する画面のボタン
.c-staffform__area__submitbutton {
    display: block;
    background: #4b4b4b;
    margin-top: 180px;
    margin-left: 64%;
    height: 60px;
    width: 20%;
    border: none;
    border-radius: size(sssss);
    color: white;
    transition: all 1.2s;

    &:hover {
        background: orange;
    }
    @include mqxxl() {
        width: 30%;
    }
    @include mqxl() {
        margin-top: 80px;
        margin-left: auto;
        margin-right: size(2l);
    }
    @include mql() {
        width: 40%;
        margin-right: auto;
    }
    @include mqm() {
        margin-top: size(4l);
        width: 46%;
    }

    @include mq() {
        width: 42%;
    }
}
//商品を編集するボタンの商品削除ボタン
.c-staffform__area__deletebutton {
    display: block;
    background: #4b4b4b;
    margin-top: 40px;
    text-align: center;
    margin-left: 64%;
    height: 40px;
    width: 20%;
    border: none;
    border-radius: size(sssss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: red;
    }
    @include mqxxl() {
        width: 30%;
    }
    @include mqxl() {
        //   margin-top: 80px;
        margin-left: auto;
        margin-right: size(2l);
    }

    @include mql() {
        width: 40%;
        margin-top: 20px;
        margin-top: size(4l);
        margin-left: auto;
        margin-right: auto;
        //  margin-right: size(2l);
    }
    @include mqm() {
        width: 46%;
    }

    @include mq() {
        width: 42%;
        margin-top: 20px;
    }
}

//=============================
//ボタンの中のsubmitボタンシリーズ
//=============================
//パスワードリマインダーの画面のボタン
.c-remind__button {
    background: #4b4b4b;
    color: white;
    margin-top: 60px;
    margin-left: 410px;
    text-align: center;
    width: 45%;
    height: 50px;
    border: none;
    border-radius: size(sssss);
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
    @include mqxxl() {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    @include mqxxl() {
        width: 60%;
    }

    @include mql() {
        font-size: size(s);
    }
    @include mqm() {
        width: 80%;
    }
}
//ログインボタンの画面
.c-login__button {
    background: #4b4b4b;
    height: 60px;
    width: 24%;
    margin-left: 50px;
    border: none;
    border-radius: size(sssss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
    @include mqxl() {
        width: 40%;
        margin-top: size(2l);
    }
    @include mqm() {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}
//ユーザー登録するときの送信ボタンコンビニ側
.c-register__button {
    background: #4b4b4b;
    color: white;
    border: none;
    border-radius: size(sssss);
    font-size: size(m);
    margin-top: 200px;
    margin-left: 80%;
    text-align: center;
    height: 65px;
    padding: size(s);
    transition: all 1.2s;
    width: 34%;
    &:hover {
        background: orange;
    }
    @include mqxl() {
        width: 50%;
        margin-left: 70%;
    }
    @include mql() {
        width: 60%;
        margin-left: 50%;
    }
    @include mqm() {
        width: 73%;
        font-size: size(m);
        margin-top: 120px;
        margin-left: 50%;
        text-align: center;
    }

    @include mq() {
        width: 60%;
        margin-top: 100px;
    }
}
.c-register__custombutton {
    background: #4b4b4b;
    color: white;
    border: none;
    border-radius: size(sssss);
    font-size: size(m);
    margin-top: 160px;
    margin-left: 56.8%;
    text-align: center;
    height: 65px;
    transition: all 0.4s;
    width: 24%;
    &:hover {
        background: orange;
    }
    @include mqxl {
        width: 40%;
        margin-left: 38%;
    }

    @include mql() {
        width: 50%;
        margin-left: 50%;
    }
    @include mqm() {
        width: 60%;
        font-size: size(m);
        margin-top: 120px;
        margin-left: 40%;
    }

    @include mq() {
        //414px対応
        width: 60%;
        margin-top: 100px;
    }
}
//...............................................ここまで
//ユーザー登録するときの送信ボタンshopper側
.c-register__shopperbutton {
    background: #4b4b4b;
    color: white;
    border: none;
    border-radius: size(sssss);
    font-size: size(m);
    margin-top: 300px;
    margin-left: 57%;
    text-align: center;
    height: 65px;
    padding: size(s);
    transition: all 1.2s;
    width: 24%;
    &:hover {
        background: orange;
    }
}
//...............................................ここまで
//パスワードリマインダーのリンクに飛ぶ画面
.c-remind__text {
    transition: all 0.4s;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(2l);
    font-size: size(s);
    text-align: center;
    &:hover {
        color: red;
        font-size: size(m);
    }
}

//===============================
//shopper購入するボタンのメニュー欄
//===============================
.c-productdetail__shoppermenu {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    width: 100%;
    display: flex;
}
//..........................................................ボタンエリアここまで

//============================================================================
// コンビニ側商品を出品する画面と編集する画面 staff_exhibitproduct and updateproduct
//=========================================================================
.c-staffform__area {
    width: 80%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: size(l);
    text-align: center;
    margin-top: size(2l);
    height: 1450px;
    background: rgba(255, 255, 255, 0.6);
    @include mqxl() {
        height: 1400px;
    }
    @include mq() {
        height: 1240px;
    }
}
.c-staffform__areatitle {
    display: block;
    margin-top: size(m);
    font-size: size(l);
    border-bottom: #174113 solid;
    @include mql() {
        font-size: size(s);
    }
}
//..................................................フォームエリア大枠を構成するところここまで
//===========================================================
//画面のタイトル文字
//===========================================================
//商品を出品する画面＋商品を編集する画面のレスポンシブデザインするためのもの
.c-staffform__area__side {
    width: 80%;
    margin-top: 10%;
    display: flex;
    margin-bottom: -8%;
    text-align: center;
    margin-left: auto;
    margin-right: 8%;
    @include mqxl() {
        width: 100%;
        display: block;
    }
    @include mq() {
        //   display: block;
    }
}

//商品編集画面出品画面の写真を挿入するレイアウト
.c-staff__imgarea {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5%;
    @include mqxl() {
        display: block;
        margin-bottom: 0px;
    }
}

.c-staffform__area__uploadimgarea {
    width: 100%;
    background: #4b4b4b;
    color: white;
    text-align: center;
    height: 40px;
    margin-right: size(s);
    margin-top: 220%;
    margin-bottom: size(l);
    font-size: size(m);
    padding: size(s);
    cursor: pointer;
    transition: 0.3s;
    border-radius: size(sssss);
    &:hover {
        background: orange;
    }

    @include mqxxl() {
        width: 80%;
    }

    @include mqxl() {
        margin-top: 10%;
        margin-bottom: 0%;
        width: 50%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
    }
    @include mql() {
    }
    @include mqm() {
    }

    @include mq() {
        margin-top: 10%;
        margin-bottom: 0%;
        width: 50%;
        height: 30px;
    }
}

.c-staffform__area__textimgarea {
    font-size: size(l);
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: size(l);
    background: white;
    width: 60%;
    height: 320px;
    padding-top: size(l);
    padding-bottom: size(l);
    padding-left: size(l);
    padding-right: size(l);
    border-radius: size(sssss);
    @include mqxxl() {
        width: 50%;
    }

    @include mqxl() {
        font-size: size(m);
        width: 80%;
        display: block;
        margin-top: 0%;
        font-size: size(s);
    }
    @include mql() {
    }
    @include mqm() {
    }
    @include mq() {
        font-size: size(s);
    }
}
.c-staffform__area__textimgarea__img {
    width: 60%;
    height: 260px;
    margin-top: size(s);
    margin-bottom: size(s);
    @include mq() {
        font-size: size(s);
    }
}

.c-staffform__area__textimgarea__name {
    @include mq() {
        font-size: size(s);
    }
}
//=======================================
//フォームテキストエリア title文字          //
//=======================================
.c-mypagemenu__title {
    text-align: center;
    margin: 40px;
    font-size: size(4l);
    font-family: "Permanent Marker", cursive;
    color: white;
    @include mql() {
        font-size: size(m);
    }
    @include mqm() {
        font-size: size(s);
    }
}

//=======================================================================
//ログイン 自動でログインする ログインするボタンを閉めるところ
//=======================================================================
.c-loginarea {
    width: 80%;
    font-size: 10x;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(4l);
    @include mql() {
        font-size: 16px;
    }
}

//====================================
//警告文
//====================================
.c-warning {
    font-size: 18px;
    color: red;
    text-align: center;
}

.c-warning2 {
    font-size: size(l);
    color: red;
    margin-top: size(4l);
    text-align: center;
    @include mql() {
        font-size: size(m);
    }

    @include mqm() {
        font-size: size(s);
        margin-top: size(4l);
        margin-left: size(s);
        margin-right: size(s);
        margin-bottom: -40px;
    }
}
.c-warning3 {
    font-size: 18px;
    color: red;
    text-align: center;
    margin-top: size(m);
    @include mql() {
        font-size: 16px;
    }

    @include mqm() {
        text-align: left;
        font-size: size(s);
        margin: size(sss);
    }
}

//=======================================
//エラーメッセージ
//=======================================
.c-errormessage {
    color: rgb(234, 14, 14);
    @include mqxl() {
        font-size: size(s);
    }
    @include mqm() {
        font-size: size(ss);
    }
}
//==============================================
//フォームエリア
//==============================================
.c-form__area {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: size(m);
    text-align: center;
    @include mql() {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.c-form__title {
    font-size: size(l);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    @include mql() {
        font-size: size(l);
    }
    @include mqm() {
        font-size: size(m);
    }
    @include mq() {
        font-size: size(m);
    }
}
.c-staffform__title {
    font-size: size(l);
    display: block;
    width: 20%;
    @include mqxl() {
        width: 60%;
    }
    @include mq() {
        font-size: size(m);
    }
}
//フォームに入力するメッセージ
.c-form__area__message {
    display: block;
    text-align: left;
    color: black;
    margin-top: size(l);
    font-size: size(l);
    @include mqm() {
        font-size: size(m);
    }
}
.c-form__area__text {
    background: white;
    margin-bottom: size(l);
    font-size: size(l);
    height: 60px;
    width: 76%;
    &:hover {
        background: #f6f5f4;
    }
    @include mql() {
        width: 96%;
    }
    @include mqm() {
        font-size: size(m);
        margin-bottom: size(ss);
        height: size(4l);
    }
}
.c-staffform__area__textname {
    height: 50px;
    background: white;
    margin-bottom: size(l);
    width: 60%;
    @include mqxl() {
    }
    @include mql() {
    }
    @include mqm() {
    }
}
