//接続ok

//見出しの部分のレイアウト。（コンビニ側が出品した)
.c-title {
    text-align: center;
    font-size: 20px;
}
.pro {
    background: cyan;
    height: 1400px;
    // text-align: center;
    //水色部分に反応しているところ表示
}

.proa {
    padding: 20px;
    border-bottom: double;
    border-color: black;
}
