//===============================================
//ページネーションデザイン設計を行う(_paginate.scss) staff_exhibitproductlist
//===============================================

.c-paginate {
    display: flex;
    justify-content: center;
    // background: red;
    width: 100%;
    margin: 100px;
    // font-size: size(l);
    @include mq() {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    @include mql() {
        //720px以下
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.page-item {
    display: inline;
    text-align: center;
    width: 100%;

    padding: size(m);
    margin: size(m);
    font-size: size(m);
    border: solid size(sssss);
    border-radius: size(sss);
    //font-family: "Permanent Marker", cursive;
    background: rgb(238, 238, 238);
    transition: all 0.5s;

    @include mq() {
        text-align: center;
        font-size: size(s);
        padding: size(ssss);
        margin: size(sss);
        margin: auto;
        background: #f6f5f4;
        border: solid black;
        margin: size(sssss);
    }
    @include mql() {
        margin-left: auto;
        margin-right: auto;
        font-size: size(ss);
        text-align: center;
        padding: size(sss);
        margin: size(sssss);
    }

    &:hover {
        background: orange;
    }
}

.page-link {
    //color: black;
    display: inline;
    font-size: size(l);
    //line-height: center;
    text-align: center;
    @include mq() {
        //414px
        // margin: size(sssss);
    }
    @include mql() {
        //414px
        // margin: size(sssss);
    }
}
