//===============================================
//ページネーションデザイン設計を行う(_paginate.scss) staff_exhibitproductlist
//===============================================

.c-paginate {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 100px;
    @include mqxl() {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.page-item {
    display: inline;
    text-align: center;
    width: 100%;
    margin: size(s);
    padding: size(s);
    font-size: size(m);
    border-radius: size(sss);
    background: #174113;
    transition: all 0.5s;
    @include mqxxl() {
        margin-left: auto;
        margin-right: auto;
        padding: size(s);
        margin: size(sss);
    }

    @include mql() {
        font-size: size(ss);
        text-align: center;
        padding: size(sss);
        margin: size(sssss);
    }

    @include mq() {
        font-size: size(s);
        padding: size(ssss);
        background: #f6f5f4;
        border: solid black;
        margin: size(sssss);
    }
    &:hover {
        background: orange;
    }
}
.page-link {
    display: inline;
    font-size: size(l);
    text-align: center;
    color: white;
}
