//=====================================
//ボタンエリア
//=====================================

//==========================================================
//(ユーザーのプロフィール編集ボタン)(shopper_profile_display.php)
//==========================================================

.c-formshopperprofile__sub {
    background: #174113;
    border: none;
    color: white;
    width: 12%;
    font-size: size(m);
    border-radius: size(ss);
    position: absolute;
    right: 25%;
    margin: 50px 50px;
    transition: all 1.2s;
    /*
    @include mql() {
        width: 30%;
        margin: auto;
    }
    */
    @include mqxl() {
        width: 15%;
        margin: auto;
        //レスポンシブ対策960px以下にボタンを対応
    }

    @include mql() {
        width: 20%;
        margin: auto;
    }

    @include mq() {
        width: 30%;
        margin: auto;
    }
}

.c-formshopperprofile__sub:hover {
    cursor: pointer;
    background: #b2d142;
}
//====================================
//shopperの商品詳細のボタン
//================================
.c-shopper__action {
   // background: #b2d142;
    margin: auto;
    width: 100%;
}

.c-shopper__action__button {
    background: #174113;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    margin-top: size(xxl);
    height: 50px;
    width: 40%;
    border: none;
    border-radius: size(ss);
    color: white;
    margin-bottom: size(xxl);
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
    @include mqxl(){
        //display:block;
        width:80%;
        margin-top:-5px;
        margin-bottom:size(3l);
        margin-left: 10px;
        margin-right: 10px;
    }
}

.c-staff__action__button {
    background: #174113;
    margin-left: 16px;
    margin-right: 16px;

    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 60px;
    width: 30%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}

//===============================
//トップ画面のボタン
//===============================
.c-top__button {
    background: #174113;
    margin-left: size(l);
    margin-right: size(l);
    text-align: center;
    margin-top: 80px;
    margin-bottom: auto;
    height: 60px;
    width: 30%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}

.c-login__button {
    background: #174113;
    height: 60px;
    width: 20%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}

//=======================================
//フォームテキストエリア title文字          //
//=======================================

//ログイン画面 ユーザー登録画面 プロフィール編集画面について

//見出しの部分のレイアウト。（コンビニ側が出品した)
.c-title {
    //これまでに出品された商品一覧,これまでに購入された
    text-align: center;
    font-size: size(l);
    margin: 10px;
}

.c-mypagemenu__title {
    // background: red;
    text-align: center;
    margin: 40px;
    font-size: size(l);
    @include mql() {
        font-size: size(m);
    }

    @include mqm() {
        font-size: size(s);
    }

}

//======================================
//マイページのロゴみたいなもの
//======================================
.c-mypagemenu {
    background: rgba(255, 255, 255, 0.6);
    height: 124px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border: solid size(sssss);
    border-radius: size(sss);

    @include mqm() {
        width:80%;
        height:100px;
        margin-top:60px;
        margin-bottom:-50px;
    }
    @include mqm() {
        width:80%;
        height:100px;
        margin-top:80px;
        margin-bottom:50px;
    }

}
