//====================================================
//共通化するエリアのコンポーネント部分 staffmypageのリスト
//===================================================
.c-staffmypagelistarea {
    background: rgba(255, 255, 255, 0.6);
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border-radius: size(ss);
    padding: size(l);
}
