@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&display=swap);
@charset "UTF-8";
/*
*_varables.scssのファイル
*主に変数や関数を置くところのファイルにする
*/
/*
*このコードは用いる。
*$sizesは
*余白とりの大きさやfontsizeの大きさを指定するときに用いる。
*@each文と@function関数でmap関数を呼び出す際にmap-getと書く必要性がないように記述する。(他の変数も同様な処理ができるように書き換えた。
*/
.space_sssss {
  size: 2px;
}

.space_ssss {
  size: 3px;
}

.space_sss {
  size: 5px;
}

.space_ss {
  size: 10px;
}

.space_s {
  size: 15px;
}

.space_m {
  size: 20px;
}

.space_l {
  size: 25px;
}

.space_xl {
  size: 30px;
}

.space_xxl {
  size: 35px;
}

.space_2l {
  size: 40px;
}

.space_3l {
  size: 45px;
}

.space_4l {
  size: 50px;
}

.color_background {
  color: #fff7cc;
}

.color_formbackground {
  color: #faf9f5;
}

.color_header {
  color: #174113;
}

.color_footer {
  color: #d69e10;
}

.color_top-title {
  color: #d69c3f;
}

.color_sentence {
  color: #707070;
}

.color_othersentence {
  color: white;
}

.color_changedbotton1 {
  color: #f29502;
}

/*
* googlefontシリーズ
* googlefont割り当て。
* 1.haiki shareのヘッダー部分の文字に用いる。(scssで記述する際、 font-family: "Permanent Marker", cursive;
* と呼び込む。
* 2.デフォルトの文字。使う時にfont-family:"Noto Serif TC", serif;
*/
/*
* 1 真っ新な状態にする
* 2 haiki shareファイル全体を担うsass
*/
/*
*_reset.scssのファイルの使用はreset.cssをおくファイルにする。今回はdisplay.cssをgithubからダウンロードして
*コピペしておいた。(一番初めにimportする。）
*/
/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.min.css */
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: 700;
}

/*
基本的なファイル全体のdefault的なデザインを記述する
*/
html,
body {
  width: 100%;
  background: #fff7cc;
  background-image: url("https://s3.ap-northeast-1.amazonaws.com/webukatu-haikikaku.com/awss3/imagebackground/top.jpg");
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  color: #707070;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 0.25em;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

/*
* 1 footerを作るsassのファイルを読み込む 
* 2 toppageを作るsassのファイルを読み込む
* 3 headerを作るsassのファイルを読み込む
*/
.l-footer {
  background: white;
  bottom: 0;
  width: 100%;
  height: 250px;
  margin-top: 100px;
  display: flex;
  align-items: center;
}
.l-footer__text {
  font-size: 20px;
  font-family: "Noto Serif TC", serif;
  margin: auto;
}

.l-footer2 {
  background: white;
  width: 100%;
  margin-top: 140px;
  height: 280px;
  display: flex;
  align-items: center;
}
.l-footer2__text {
  color: white;
  font-size: 20px;
  font-family: "Noto Serif TC", serif;
  margin: auto;
}

.l-top {
  display: flex;
}
@media screen and (max-width:980px) {
  .l-top {
    display: block;
  }
}

.l-topimg {
  height: 900px;
  background: white;
}
@media screen and (max-width:980px) {
  .l-topimg {
    height: 0px;
    display: block;
  }
}

.l-topimg__area {
  width: 100%;
}

.l-top__titlearea {
  width: 50%;
  margin-top: 10%;
  text-align: center;
}
@media screen and (max-width: 720px) {
  .l-top__titlearea {
    margin-top: 540px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .l-top__titlearea {
    margin-top: 420px;
  }
}
@media screen and (max-width: 414px) {
  .l-top__titlearea {
    margin-top: 380px;
  }
}

.l-top__titlearea__text {
  display: inline;
  transition: all;
  font-size: 30px;
  line-height: 100px;
  margin-left: 24%;
}
.l-top__titlearea__text:hover {
  transition: 0.3s;
  color: orange;
  font-size: 30px;
  border-bottom: solid orange;
}
@media screen and (max-width:1090px) {
  .l-top__titlearea__text {
    margin-left: 16%;
    font-size: 25px;
  }
}
@media screen and (max-width:980px) {
  .l-top__titlearea__text {
    color: white;
    font-size: 30px;
  }
}
@media screen and (max-width: 720px) {
  .l-top__titlearea__text {
    font-size: 25px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.c-topfooter {
  display: block;
  line-height: 300px;
  text-align: center;
  background: white;
}
@media screen and (max-width:980px) {
  .c-topfooter {
    height: 380px;
  }
}
@media screen and (max-width: 720px) {
  .c-topfooter {
    display: none;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.l-header {
  display: flex;
  align-items: justify-content;
  background: white;
  width: 100%;
  text-align: center;
}

.l-header__title {
  font-size: 50px;
  padding: 20px;
  margin-left: 20px;
}
@media screen and (max-width: 720px) {
  .l-header__title {
    font-size: 40px;
  }
}

.l-header__toptitle {
  font-size: 50px;
  padding: 20px;
  margin-left: 20px;
}
@media screen and (max-width: 720px) {
  .l-header__toptitle {
    font-size: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.l-toppageheader {
  display: flex;
  align-items: justify-content;
  background: white;
  width: 100%;
  height: 10%;
  text-align: center;
}

.c-drawer__hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.c-drawer--open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 100px;
  z-index: 100; /* 重なり順を一番上にする */
  cursor: pointer;
  margin-top: 60px;
}
@media screen and (max-width: 414px) {
  .c-drawer--open {
    right: 80px;
    top: -4px;
  }
}

/* ハンバーガーメニューのアイコン */
.c-drawer--open span,
.c-drawer--open span:before,
.c-drawer--open span:after {
  content: "";
  display: block;
  height: 5px;
  width: 30px;
  border-radius: 3px;
  background: black;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.c-drawer--open span:before {
  bottom: 10px;
}

/* 三本線の一番下の棒の位置調整 */
.c-drawer--open span:after {
  top: 10px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .c-drawer--open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .c-drawer--open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .c-drawer--open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 70%;
  position: fixed;
  bottom: 100%;
  left: 0%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgb(110, 110, 110);
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  text-align: center;
  padding-top: 70px;
  font-size: 25px;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
  margin-top: 50px;
}

.nav_item a {
  display: block;
  margin: 20px;
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}
.nav_item a:hover {
  color: orange;
  font-size: 35px;
  text-decoration: underline;
}

/*ヘッダー部分のログアウトボタン*/
.l-header__nav__button {
  border: none;
  color: black;
  transition: all 0.3s;
}
.l-header__nav__button:hover {
  font-size: 35px;
  border-bottom: solid 3px;
  color: orange;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  bottom: 0; /* メニューを画面に入れる */
}

.l-productdetail {
  width: 100%;
  height: 980px;
}
.l-productdetail__shopper {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 1250px;
}
.c-detail__title {
  font-size: 50px;
  border-bottom: 1px solid black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width:980px) {
  .c-detail__title {
    font-size: 35px;
  }
}
@media screen and (max-width: 720px) {
  .c-detail__title {
    font-size: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 560px) {
  .c-detail__title {
    font-size: 25px;
  }
}

.c-detail {
  display: flex;
  width: 90%;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 100px;
  margin-top: 100px;
  background: white;
  border: solid black;
}

.c-detail__img {
  width: 100%;
  height: 600px;
}

.c-detail__sentence {
  font-size: 50px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  justify-content: center;
}

.c-detail__sentence__text {
  border-bottom: 1px solid black;
}

.l-productsearch {
  background: rgba(255, 255, 255, 0.7);
  height: 400px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 5px;
}
@media screen and (max-width:1090px) {
  .l-productsearch {
    height: 500px;
    text-align: center;
  }
}

/*
* 1 今後も使い回しそうなbuttonデザインを作るファイル 
* 2 今後も使い回しそうなアラートを作るファイル
* 3 今後も使い回しそうなgridファイル
* 4 今後も使い回しそうなmedia (消去する可能性高い)
*/
.c-paginate {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 50px;
}
@media screen and (max-width:980px) {
  .c-paginate {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-item {
  display: inline;
  text-align: center;
  width: 100%;
  margin: 15px;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  background: #4b4b4b;
  transition: all 0.5s;
}
@media screen and (max-width:1090px) {
  .page-item {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin: 5px;
  }
}
@media screen and (max-width: 720px) {
  .page-item {
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 2px;
  }
}
@media screen and (max-width: 414px) {
  .page-item {
    font-size: 15px;
    padding: 3px;
    background: #f6f5f4;
    border: solid black;
    margin: 2px;
  }
}
.page-item:hover {
  background: orange;
}

.page-link {
  display: inline;
  font-size: 25px;
  text-align: center;
  color: white;
}

.c-productlist__sentence {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: 20px;
}

.c-under {
  border-bottom: double;
  border-color: black;
}

.c-productdetaillist {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}
@media screen and (max-width: 720px) {
  .c-productdetaillist {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 20px;
  }
}

.c-productdetailimg {
  width: 50%;
  height: 500px;
  margin: 40px;
}
@media screen and (max-width:1090px) {
  .c-productdetailimg {
    height: 400px;
    width: 40%;
  }
}
@media screen and (max-width:980px) {
  .c-productdetailimg {
    width: 50%;
  }
}
@media screen and (max-width: 720px) {
  .c-productdetailimg {
    height: 200px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.c-searcharea {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid black;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  background: rgba(255, 255, 255, 0.6);
}

.c-search {
  display: flex;
  color: black;
  margin-bottom: 20px;
  font-size: 25px;
}

.c-search__text {
  text-align: center;
}

.c-flex {
  display: flex;
}

.c-staffmypagelistarea {
  background-color: rgba(255, 255, 255, 0.6);
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-bottom: 4%;
  font-size: 25px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.c-staffmypagelistarea__list {
  flex-wrap: 100%;
  padding-bottom: 3%;
  width: 100%;
}

.c-exhibitproductlist {
  display: block;
  background: rgba(255, 255, 255, 0.6);
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 160px;
  border: solid #174113;
  border-radius: 10px;
  width: 70%;
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 720px) {
  .c-exhibitproductlist {
    width: 60%;
  }
}

.c-staffmypagelistarea__area {
  background: white;
  margin: 2%;
  text-align: center;
}

.c-staffmypagelistarea__text {
  text-align: center;
  background: white;
  padding-bottom: 6%;
}

.c-staffmypagelistarea__title1 {
  width: 50%;
  height: 50px;
  margin-left: 20px;
  color: white;
  font-size: 25px;
  color: black;
}

.c-staffmypagelistarea__title1__text {
  display: inline;
  border-bottom: 1px solid black;
}

.c-staffmypagelistarea__list__img {
  text-align: center;
  width: 250px;
  height: 200px;
}

.c-staffmypagelistarea__list__name {
  font-size: 25px;
  text-align: center;
}

.c-staffmypagelistarea__list__price {
  color: red;
  text-align: center;
}

.c-staffmypagelistarea__list__a {
  text-align: center;
  font-size: 25px;
  color: black;
  border-bottom: solid;
  border-color: black;
  border-width: 1px; /*5ピクセルの太さにする*/
}
.c-staffmypagelistarea__list__a:hover {
  color: orange;
  border-color: #174113;
  border-width: 1px;
}

.c-staffmypagelistarea__list__bought {
  background: black;
  border: solid black;
  color: white;
}

.c-productdetail {
  display: flex;
  margin-top: 100px;
  height: 500px;
}
@media screen and (max-width: 560px) {
  .c-productdetail {
    width: 46%;
  }
}
@media screen and (max-width: 414px) {
  .c-productdetail {
    width: 50%;
  }
}

.c-productdetailimg {
  width: 600px;
  height: 400px;
}

.c-productdetail__area {
  color: black;
  margin-top: 100px;
  list-style: none;
  width: 50%;
  font-size: 25px;
}

.c-productdetail__area__text {
  border-bottom: solid black;
}

.c-productdetail__area__sentence {
  margin-top: 40px;
}

.c-productdetail__twitter {
  margin-left: 300px;
  font-size: 20px;
}
.c-productdetail__twitter:hover {
  color: orange;
  border-bottom: solid orange;
}

.c-productdetail__button {
  display: block;
  background: #4b4b4b;
  text-align: center;
  margin-top: 100px;
  margin-left: 64%;
  height: 60px;
  width: 20%;
  border: none;
  border-radius: 2px;
  color: white;
  transition: all 1.2s;
}
.c-productdetail__button:hover {
  background: orange;
}
@media screen and (max-width:1090px) {
  .c-productdetail__button {
    width: 30%;
  }
}
@media screen and (max-width: 720px) {
  .c-productdetail__button {
    width: 40%;
  }
}
@media screen and (max-width: 560px) {
  .c-productdetail__button {
    width: 46%;
  }
}
@media screen and (max-width: 414px) {
  .c-productdetail__button {
    width: 50%;
  }
}

.c-formshopperprofile__sub {
  background: #4b4b4b;
  border: none;
  color: white;
  width: 12%;
  font-size: 20px;
  border-radius: 10px;
  position: absolute;
  right: 25%;
  margin: 50px 50px;
  transition: all 1.2s;
}
@media screen and (max-width:980px) {
  .c-formshopperprofile__sub {
    width: 15%;
    margin: auto;
  }
}
@media screen and (max-width: 720px) {
  .c-formshopperprofile__sub {
    width: 20%;
  }
}
@media screen and (max-width: 560px) {
  .c-formshopperprofile__sub {
    width: 30%;
  }
}
@media screen and (max-width: 414px) {
  .c-formshopperprofile__sub {
    width: 30%;
  }
}

.c-shopper__action {
  margin: auto;
  width: 100%;
}

.c-shopper__action__button {
  background: #4b4b4b;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  margin-top: 35px;
  height: 50px;
  width: 40%;
  border: none;
  border-radius: 2px;
  color: white;
  margin-bottom: 35px;
  transition: all 1.2s;
}
.c-shopper__action__button:hover {
  background: orange;
}
@media screen and (max-width:980px) {
  .c-shopper__action__button {
    width: 80%;
    margin-top: -5px;
    margin-bottom: 45px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.c-staffform__area__submitbutton {
  display: block;
  background: #4b4b4b;
  margin-top: 180px;
  margin-left: 64%;
  height: 60px;
  width: 20%;
  border: none;
  border-radius: 2px;
  color: white;
  transition: all 1.2s;
}
.c-staffform__area__submitbutton:hover {
  background: orange;
}
@media screen and (max-width:1090px) {
  .c-staffform__area__submitbutton {
    width: 30%;
  }
}
@media screen and (max-width: 720px) {
  .c-staffform__area__submitbutton {
    width: 40%;
  }
}
@media screen and (max-width: 560px) {
  .c-staffform__area__submitbutton {
    width: 46%;
  }
}
@media screen and (max-width: 414px) {
  .c-staffform__area__submitbutton {
    width: 50%;
  }
}

.c-staffform__area__deletebutton {
  display: block;
  background: #4b4b4b;
  margin-top: 40px;
  text-align: center;
  margin-left: 64%;
  height: 40px;
  width: 20%;
  border: none;
  border-radius: 2px;
  color: white;
  transition: all 1.2s;
}
.c-staffform__area__deletebutton:hover {
  background: red;
}
@media screen and (max-width:1090px) {
  .c-staffform__area__deletebutton {
    width: 30%;
  }
}
@media screen and (max-width: 720px) {
  .c-staffform__area__deletebutton {
    width: 40%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 560px) {
  .c-staffform__area__deletebutton {
    width: 50%;
  }
}
@media screen and (max-width: 414px) {
  .c-staffform__area__deletebutton {
    width: 60%;
    margin-top: 20px;
  }
}

.c-remind__button {
  background: #4b4b4b;
  color: white;
  margin-top: 60px;
  margin-left: 410px;
  text-align: center;
  width: 45%;
  height: 50px;
  border: none;
  border-radius: 2px;
  transition: all 1.2s;
}
.c-remind__button:hover {
  background: orange;
}
@media screen and (max-width:1090px) {
  .c-remind__button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width:1090px) {
  .c-remind__button {
    width: 60%;
  }
}
@media screen and (max-width: 720px) {
  .c-remind__button {
    font-size: 15px;
  }
}
@media screen and (max-width: 560px) {
  .c-remind__button {
    width: 80%;
  }
}

.c-login__button {
  background: #4b4b4b;
  height: 60px;
  width: 24%;
  margin-left: 50px;
  border: none;
  border-radius: 2px;
  color: white;
  transition: all 1.2s;
}
.c-login__button:hover {
  background: orange;
}
@media screen and (max-width:980px) {
  .c-login__button {
    width: 40%;
    margin-top: 40px;
  }
}
@media screen and (max-width: 414px) {
  .c-login__button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

.c-register__button {
  background: #4b4b4b;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  margin-top: 200px;
  margin-left: 80%;
  text-align: center;
  height: 65px;
  padding: 15px;
  transition: all 1.2s;
  width: 34%;
}
.c-register__button:hover {
  background: orange;
}
@media screen and (max-width:980px) {
  .c-register__button {
    width: 50%;
    margin-left: 70%;
  }
}
@media screen and (max-width: 720px) {
  .c-register__button {
    width: 60%;
    margin-left: 50%;
  }
}
@media screen and (max-width: 560px) {
  .c-register__button {
    width: 73%;
    font-size: 20px;
    margin-top: 120px;
    margin-left: 50%;
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .c-register__button {
    width: 60%;
    margin-top: 100px;
  }
}

.c-register__custombutton {
  background: #4b4b4b;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  margin-top: 200px;
  margin-left: 56.8%;
  text-align: center;
  height: 65px;
  transition: all 0.4s;
  width: 24%;
}
.c-register__custombutton:hover {
  background: orange;
}
@media screen and (max-width: 720px) {
  .c-register__custombutton {
    width: 50%;
    margin-left: 50%;
  }
}
@media screen and (max-width: 560px) {
  .c-register__custombutton {
    width: 60%;
    font-size: 20px;
    margin-top: 120px;
    margin-left: 40%;
  }
}
@media screen and (max-width: 414px) {
  .c-register__custombutton {
    width: 60%;
    margin-top: 100px;
  }
}

.c-register__shopperbutton {
  background: #4b4b4b;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  margin-top: 300px;
  margin-left: 57%;
  text-align: center;
  height: 65px;
  padding: 15px;
  transition: all 1.2s;
  width: 24%;
}
.c-register__shopperbutton:hover {
  background: orange;
}

.c-remind__text {
  transition: all 0.4s;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-size: 15px;
  text-align: center;
}
.c-remind__text:hover {
  color: red;
  font-size: 20px;
}

.c-productdetail__shoppermenu {
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  width: 100%;
  display: flex;
}

.c-staffform__area {
  width: 80%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  text-align: center;
  margin-top: 40px;
  height: 1240px;
  background: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width:980px) {
  .c-staffform__area {
    height: 1200px;
  }
}

.c-staffform__areatitle {
  display: block;
  margin-top: 20px;
  font-size: 25px;
  border-bottom: #174113 solid;
}

.c-staffform__area__side {
  width: 100%;
  margin-top: 10%;
  display: flex;
  margin-bottom: -8%;
}
@media screen and (max-width:980px) {
  .c-staffform__area__side {
    display: flex;
  }
}

.c-staff__imgarea {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.c-staffform__area__uploadimgarea {
  width: 100%;
  background: #4b4b4b;
  color: white;
  text-align: center;
  height: 40px;
  margin-right: 15px;
  margin-top: 220%;
  margin-bottom: 25px;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 2px;
}
.c-staffform__area__uploadimgarea:hover {
  background: orange;
}
.c-staffform__area__textimgarea {
  font-size: 25px;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background: white;
  width: 60%;
  height: 320px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 2px;
}
.c-staffform__area__textimgarea__img {
  width: 60%;
  height: 260px;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 414px) {
  .c-staffform__area__textimgarea__img {
    font-size: 15px;
  }
}

@media screen and (max-width: 414px) {
  .c-staffform__area__textimgarea__name {
    font-size: 15px;
  }
}

.c-mypagemenu__title {
  text-align: center;
  margin: 40px;
  font-size: 50px;
  font-family: "Permanent Marker", cursive;
  color: white;
}
@media screen and (max-width: 720px) {
  .c-mypagemenu__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 560px) {
  .c-mypagemenu__title {
    font-size: 15px;
  }
}

.c-mypagemenu {
  background: rgba(255, 255, 255, 0.6);
  height: 124px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  border: solid 2px;
  border-radius: 5px;
}
@media screen and (max-width: 560px) {
  .c-mypagemenu {
    width: 80%;
    height: 100px;
    margin-top: 60px;
    margin-bottom: -50px;
  }
}
@media screen and (max-width: 560px) {
  .c-mypagemenu {
    margin-top: 80px;
    margin-bottom: 50px;
  }
}

.c-loginarea {
  width: 80%;
  font-size: 10x;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
@media screen and (max-width: 720px) {
  .c-loginarea {
    font-size: 16px;
  }
}

.c-warning {
  font-size: 18px;
  color: red;
}

.c-warning2 {
  font-size: 25px;
  color: red;
  margin-top: 50px;
  text-align: center;
}
@media screen and (max-width: 720px) {
  .c-warning2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 560px) {
  .c-warning2 {
    font-size: 15px;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: -40px;
  }
}

.c-errormessage {
  color: rgb(234, 14, 14);
}

.c-form__area {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 80px;
  font-size: 20px;
  text-align: center;
}

.c-form__title {
  font-size: 25px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
@media screen and (max-width: 720px) {
  .c-form__title {
    font-size: 25px;
  }
}
@media screen and (max-width: 560px) {
  .c-form__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 414px) {
  .c-form__title {
    font-size: 20px;
  }
}

.c-staffform__title {
  font-size: 25px;
  display: block;
  width: 20%;
}
@media screen and (max-width:980px) {
  .c-staffform__title {
    width: 60%;
  }
}

.c-form__area__message {
  display: block;
  text-align: left;
  color: black;
  margin-top: 25px;
  font-size: 25px;
}
@media screen and (max-width: 560px) {
  .c-form__area__message {
    font-size: 20px;
  }
}

.c-form__area__text {
  background: white;
  margin-bottom: 25px;
  font-size: 25px;
  height: 60px;
  width: 76%;
}
.c-form__area__text:hover {
  background: #f6f5f4;
}
@media screen and (max-width: 720px) {
  .c-form__area__text {
    width: 96%;
  }
}
@media screen and (max-width: 560px) {
  .c-form__area__text {
    font-size: 20px;
    margin-bottom: 10px;
    height: 50px;
  }
}

.c-staffform__area__textname {
  height: 50px;
  background: white;
  margin-bottom: 25px;
  width: 60%;
}
.u-space {
  padding: 10px;
}

.u-space__detail {
  text-align: center;
  margin-bottom: -20px;
  margin-left: auto;
}

.u-hidden {
  display: none;
}
