//=====================================================
//それ以外のfooter
//============================================
.l-footer {
    background: color("footer");
    bottom: 0;
    width: 100%;
    height: 110px;
    //margin:size(l);
    display: flex;
    align-items: center;
    &__text {
        color: white;
        font-size: size(m);
        font-family: "Noto Serif TC", serif;
        margin: auto;
    }
}
