//接続ok
//変数使えるかどうかの確認ok

//===========================================================
// ページ量が足りなくて,footerの高さが中途半端になりそうなファイルの対応
//===========================================================
.l-incomplete {
    position: fixed;
    background: color("footer");
    bottom: 0;
    width: 100%;
    height: 100px;
}
//=====================================================
//それ以外のfooter
//============================================
