//=====================================
// header (のファイルに適用）
//=====================================

.l-header {
    display: flex;
    align-items: justify-content;
    background: color("header");
    width: 100%;
    height: 10%;
    text-align: center;
    &__title {
        font-family: "Permanent Marker", cursive;
        font-size: size(4l);
        color: white;
        padding: size(m);
    }
    &__nav {
        position: absolute;
        right: 200px;
        top: size(4l);
        align-items: center;
        background: #174113;
        border: size(ssss) solid;
        border-radius: size(ssss);
        text-align: center;
        color: white;

        &__button {
            //アニメーション導入する前のもの
            //inline要素に変更する
            display: inline;
            border: none;
            //  border-radius: size(ssss);
            font-family: "Noto Serif TC", serif;
            font-size: size(s);
            box-shadow: 3px #b8b8b8;
            transition: all 0.5s;
        }
        &__button:hover {
            cursor: pointer;
            background: #b2d142;
            box-shadow: 1px 1px 1px 1px orange;
            transform: translateY(-1px);
            border: none;
        }
    }
    &__mypagebottom {
        //inline要素に変更する
        display: inline;
        position: absolute;
        right: 80px;
        top: size(4l);
        text-align: center;
        border: size(ssss) solid;
        border-radius: size(ssss);
        color: white;
        transition: all 2s;
    }
    &__mypagebottom:hover {
        cursor: pointer;
        background: #b2d142;
        box-shadow: 1px 1px 1px 1px orange;
        //  transform: translateY(-1px);
        border: none;
    }
}

//=========================================
// headerのファイルに適用
//========================================

//==========================================
// headerのファイルに適用
// ======================================
