//=============================================
//商品の詳細画面の画面モック shopper_productdetail
//=============================================
.l-productdetail {
    background: white;
    margin-right: 80px;
    margin-left: 80px;
    width: 90%;
    height: 600px;

    &__area {
        display: flex;

        &__photo {
            background: cyan;
            margin: 30px;
            height: 400px;
            width: 55%;
        }
        &__menu {
            background: red;
            color: white;
            height: 400px;
            width: 35%;
            margin: 30px;
        }
    }
}
//====================================
//利用者の商品一覧(shopper_productlist)
//====================================

.l-shopperproductlist {
    background: white;
    width: 90%;
    height: 700px;
    margin: 30px;
}
.l-shopperproductlist__area {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}
.l-shopperproductlist__area__photo {
    background: red;
    width: 29%;
    height: 120px;
    margin: 15px;
}
