//接続ok
.c-formshopperprofile {
    margin: auto;
    padding: size(xxl);
    text-align: center;
    background: color("formbackground");
    font-family: "Noto Serif TC", serif;
    font-size: size(xxl);
    width: 50%;
    height: 550px;
    line-height: 65px;
    &__te {
        justify-content: center;
        margin: size(xl);
    }

    &__text {
        background: white;
        margin: 20px 20px 20px;
        border: none;
    }
    &__sub {
        background: #174113;
        border: none;
        color: white;
        width: 12%;
        font-size: size(m);
        border-radius: size(ss);
        position: absolute;
        right: 25%;
        margin: 50px 50px;
        transition: all 1.2s;
    }
    &__sub:hover {
        cursor: pointer;
        background: #b2d142;
    }
}

//変更すると言う文字がずれたら　レスポンシブ対応をとる。
//980pxからレスポンシブ対応をする
//========================
//コンビニスタッフ用
//===========================

//接続ok
.l-form {
    margin: size(l);
}

.l-formstaffprofile {
    margin: auto;
    padding: size(xxl);
    text-align: center;
    background: color("formbackground");
    font-family: "Noto Serif TC", serif;
    font-size: size(xxl);
    width: 50%;
    height: 900px;
    line-height: 65px;
    &__te {
        justify-content: center;
        margin: size(xl);
    }

    &__text {
        background: white;
        margin: 20px 20px 20px;
        border: none;
    }
    &__sub {
        background: #174113;
        border: none;
        color: white;
        width: 12%;
        font-size: size(m);
        border-radius: size(ss);
        position: absolute;
        right: 25%;
        margin: 180px 65px;
        transition: all 1.2s;
    }
    &__sub:hover {
        cursor: pointer;
        background: #b2d142;
    }
}

//変更すると言う文字がずれたら　レスポンシブ対応をとる。
//980pxからレスポンシブ対応をする
