//接続ok
//=====================================
//shopper_profile_display(ファイルのcss)
//=====================================

.l-formshopperprofile {
    margin: auto;
    padding: size(xxl);
    text-align: center;
    background: color("formbackground");
    font-family: "Noto Serif TC", serif;
    font-size: size(xxl);
    width: 50%;
    height: 550px;
    line-height: 65px;
    &__te {
        justify-content: center;
        margin: size(xl);
        @include mq() {
            // background: cyan;
        }
    }

    &__text {
        background: white;
        margin: 20px 20px 20px;
        border: none;
        @include mq() {
            width: 100%;
        }
    }

    @include mqxl() {
        //  background: red;
        width: 75%;
    }
    @include mq() {
        background: red;
        height: 550px;
    }
}
//変更すると言う文字がずれたら　レスポンシブ対応をとる。
//980pxからレスポンシブ対応をする
//========================
//コンビニスタッフ用
//===========================

//接続ok
.l-form {
    margin: size(l);
}

.l-formstaffprofile {
    margin: auto;
    padding: size(xxl);
    text-align: center;
    background: color("formbackground");
    font-family: "Noto Serif TC", serif;
    font-size: size(xxl);
    width: 50%;
    height: 900px;
    line-height: 65px;
    &__te {
        justify-content: center;
        margin: size(xl);
    }

    &__text {
        background: white;
        margin: 20px 20px 20px;
        border: none;
    }
    &__sub {
        background: #174113;
        border: none;
        color: white;
        width: 12%;
        font-size: size(m);
        border-radius: size(ss);
        position: absolute;
        right: 25%;
        margin: 180px 65px;
        transition: all 1.2s;
    }
    &__sub:hover {
        cursor: pointer;
        background: #b2d142;
    }
}

//変更すると言う文字がずれたら　レスポンシブ対応をとる。
//980pxからレスポンシブ対応をする
//===========================================
//コンビニ側のマイページ作成staff_mypage_display
//===========================================

.l-staffmypage {
    display: flex;
}

.l-staffmypage__exhibitarea {
    width: 68%;
    height: 1600px;
    background: white;
    margin: 30px;
}
.l-staffmypage__bought {
    width: 68%;
    height: 1600px;
    margin: 20px;

    background: white;
}

//===========================================
//コンビニ側のマイページ作成shopper_mypage_display
//===========================================
.l-shoppermypage {
    display: flex;
}

.l-shoppermypage__exhibitarea {
    width: 68%;
    height: 1600px;
    background: white;
    margin: 30px;
}
.l-shoppermypage__bought {
    width: 68%;
    height: 1600px;
    margin: 20px;

    background: white;
}

//=============================================
//商品の詳細画面の画面モック shopper_productdetail
//=============================================
.l-productdetail {
    background: white;
    margin-right: 80px;
    margin-left: 80px;
    width: 90%;
    height: 600px;

    &__area {
        display: flex;

        &__photo {
            background: cyan;
            margin: 30px;
            height: 400px;
            width: 55%;
        }
        &__menu {
            background: red;
            color: white;
            height: 400px;
            width: 35%;
            margin: 30px;
        }
    }
}
//====================================
//利用者の商品一覧(shopper_productlist)
//====================================

.l-shopperproductlist {
    background: white;
    width: 90%;
    height: 700px;
    margin: 30px;
}
.l-shopperproductlist__area {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}
.l-shopperproductlist__area__photo {
    background: red;
    width: 29%;
    height: 120px;
    margin: 15px;
}
//================================================
// コンビニ側商品を出品する画面 staff_exhibitproduct
//================================================
.a {
    background: white;
    display: block;
    //中央に要素を寄せるときはこれを用いる
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 80%;
    height: 1400px;
}
.b {
    background: red;
    padding: 30px;
    width: 40%;
    height: 200px;
}
.c {
    background: #b2d142;
}
.d {
    background: cyan;
}
.e {
    background: green;
}

//=================================
//staff_exhibitproductlist (ページ）
//=================================
.l-exhibitproductlist {
    background: white;
    display: block;
    //中央に要素を寄せるときはこれを用いる
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 80%;
    height: 1700px;

    //画面の大きさによって高さが足りなくなりそうなのでレスポンシブを使う
}

//ここはレイアウト部分
.l-exhibitproductlist__list {
    height: 1400px;
    margin-top: 10px;
    //text-align: center;
    //水色部分に反応しているところ表示
}

.l-exhibitproductlist__listb {
    padding: 20px;
    margin-top: 10px;
}

//================================================
//staff_productdetail
//================================================
.l-staffproductdetail {
    background: white;
    display: block;
    //中央に要素を寄せるときはこれを用いる
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width: 80%;
    height: 600px;
}
.l-staffproductdetail__area {
    // background: red;
    // margin-right: auto;
    //margin-left: auto;
    display: flex;
}
.c-productdetailimg {
    height: 500px;
    width: 60%;
    margin: 40px;
}
.l-staffproductdetail__areaflex {
    display: flex;
}
