//====================================
//コンビニ側mypage(sidebar)
//====================================
.l-staffmypage__side {
    width: 25%;
    height: 500px;
    margin: 30px;
    background: white;
}
