.l-topimg {
    width: 100%;
    height: 1700px;
    opacity: 0.85;
    position: relative;
    inset: 0;
    margin: auto;
}
.l-top__titlearea {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    width: 80%;
    height: 450px;
    transform: translatez(+50%);
    left: 50%;
    transform: translateX(-50%);
    top: 210px;
    text-align: center;
    border-radius: size(ssss);
    @include mql() {
        width: 80%;

        height: 300px;
    }

    @include mq() {
        height: 300px;
    }
}
.l-top__title__text {
    color: white;
    -webkit-text-stroke: size(sss) orange;
    font-family: "Permanent Marker", cursive;
    font-size: 120px;
    margin-top: 60px;
    @include mql() {
        font-size: 80px;
        margin-top: 70px;
    }

    @include mq() {
        font-size: 80px;
        margin-top: 30px;
    }
}
.l-top__title__text2 {
    color: white;
    -webkit-text-stroke: size(sss) orange;
    font-family: "Permanent Marker", cursive;
    font-size: 80px;
    @include mql() {
        display: none;
    }
}

.l-top__area__form {
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    border-radius: size(sssss);
    justify-content: center;
    height: 200px;
    margin-bottom: 100px;
    width: 50%;
    position: absolute;
    top: 810px;
    transform: translatez(+50%);
    left: 50%;
    transform: translateX(-50%);
    @include mql() {
        width: 90%;
        top: 600px;
    }

    @include mq() {
        width: 80%;
    }
}
.l-top__area__form2 {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 50%;
    position: absolute;
    top: 890px;
    transform: translatez(+50%);
    left: 50%;
    transform: translateX(-50%);
    @include mql() {
        width: 90%;
        top: 690px;
    }
    @include mq() {
        width: 80%;
    }
}

//=================================
//ボタンを押された時に表示される機能(お客様）
//=================================
.l-top__area__form__custom {
    border: solid size(sssss) #174113;
    border-radius: size(4l);
    background: rgba(255, 255, 255, 0.6);
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 1100px;
    transform: translatez(+50%);
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    width: 80%;
    @include mql() {
        top: 900px;
        height: 200px;
    }

    @include mq() {
        top: 900px;
        height: 200px;
    }
}

//=================================
//ボタンを押された時に表示される機能(コンビニ）
//=================================
.l-top__area__form__custom2 {
    border: solid size(sssss) #174113;
    border-radius: size(4l);
    background: rgba(255, 255, 255, 0.6);
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 1400px;
    transform: translatez(+50%);
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    width: 80%;
    @include mql() {
        top: 1200px;
        height: 300px;
    }

    @include mq() {
        top: 1200px;

        height: 300px;
    }
}

.l-top__area__form__custom__button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    //margin-top: 100px;
    @include mq() {
        margin-top: -10px;
        font-size: size(ss);
        width: 100%;
    }
}

//======================================================================
//ボタンエリア (コンポーネントcに変換すること) お客様として始める管理者として始める
//======================================================================
.l-top__area__form__button {
    //background: red;
    color: white;
    background: #174113;
    font-size: 20px;
    width: 30%;
    text-align: center;
    margin-left: size(xl);
    margin-right: size(xl);
    margin-top: 35px;
    margin-bottom: auto;
    height: 50px;
    border-radius: size(s);
    transition: 0.8s;
    &:hover {
        background: orange;
    }
    @include mq() {
        width: 60%;
    }
}

//==================================
//アニメーション管理するもの(modifyにする
//==================================
.fade-enter-active,
.fade-leave-active {
    transition: opacity 1.2s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
