.l-topimg {
    width: 100%;
    height: 1000px;
    opacity: 0.85;
    position: relative;
    inset: 0;
    margin: auto;
}
.l-top__titlearea {
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    width: 80%;
    height: 500px;
    transform: translatez(+50%);
    left: 50%;
    transform: translateX(-50%);
    top: 300px;
    text-align: center;
    border-radius: size(ssss);
}

.l-top__title__text {
    // position: absolute;
    color: white;
    -webkit-text-stroke: size(sss) orange;
    font-family: "Permanent Marker", cursive;
    font-size: 120px;
    height: 200px;
    margin-top: 60px;

    // 画面サイズが変わっても中央揃えになるようにセッティングする
    /*
    top: 350px;

    transform: translatez(+50%);
    left: 50%;
    transform: translateX(-50%);
    */
}
.l-top__title__text2 {
    // position: absolute;
    color: white;
    -webkit-text-stroke: size(sss) orange;
    font-family: "Permanent Marker", cursive;
    font-size: 80px;
    // 画面サイズが変わっても中央揃えになるようにセッティングする
    /*
    top: 550px;

    transform: translatez(+50%);
    left: 50%;
    transform: translateX(-50%);
*/
}

.l-top__area {
    opacity: 1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.l-top__area__form {
    height: 1250px;
    background: rgba(255, 255, 255, 0.8);
    border: solid size(s) #174113;
    border-radius: size(s);
    margin-top: 100px;
    margin-bottom: 100px;
    opacity: 1;
}

.l-top__area__form__custom {
    border: solid size(s) #174113;
    border-radius: size(s);

    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 60%;
}
