.l-top {
    display: flex;
}

.l-topimg {
    // width: 50%;
    height: 900px;
    background: white;
    position: hiden;
}
.l-topimg__area {
    //width: 50%;
    width: 100%;
}
.l-top__titlearea {
    margin-top: 10%;
    margin-left: 24%;
    // padding: 20px;
    // margin-right: auto;
    text-align: center;
    font-size: size(xl);
    //  border-radius: size(ssss);
    @include mql() {
        // width: 80%;
        // height: 300px;
    }

    @include mq() {
        //     height: 300px;
        //   padding-left: size(s);
        //   padding-right: size(s);
    }
}
.l-top__titlearea__text {
    // line-height: size(l);
    display: block;
    // background: red;
    // line-height: ;
    // margin-top: 100px;
    // padding-top: 20px;
    transition: all;
    &:hover {
        transition: 0.3s;

        color: orange;
        font-size: size(xl);
        border-bottom: solid orange;
    }
}
.c-topfooter {
    display: block;
    //background: red;
    margin-top: auto;
    line-height: 300px;
    text-align: center;
}

//==================================
//アニメーション管理するもの(modifyにする
//==================================
.fade-enter-active,
.fade-leave-active {
    transition: opacity 1.2s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
