//=============================================
//商品の詳細画面の画面モック shopper_productdetail staff_productdetail
//=============================================
.l-productdetail {
    background: rgba(255, 255, 255, 0.8);
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: solid size(sssss);
    border-radius: size(m);
    width: 80%;
    height: 1100px;
    //このエリアはproductdetailと同じ
    @include mqxxl() {
        height: 1000px;
    }
    @include mqm() {
        height: 800x;
        margin-top: 90px;
        margin-bottom: 90px;
    }

    @include mq() {
        height: 712px;
        margin-top: 90px;
        margin-bottom: 90px;
    }
}

.l-productdetail__shopper {
    background: rgba(255, 255, 255, 0.9);
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: solid size(sssss);
    border-radius: size(m);
    width: 80%;
    height: 1250px;
    @include mqxxl() {
        height: 1200px;
    }
    @include mqm() {
        height: 1000px;
        margin-top: 90px;
        margin-bottom: 90px;
    }
}

.l-productdetail__area {
    //background: red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(l);
    text-align: center;
    height: 860px;
}
