//===========================================
//コンビニ側のマイページ作成shopper_mypage_display
//===========================================
.l-shopper__mypagemenu {
    //background: red;
    height: 400px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: solid size(sssss);
    border-radius: size(sss);
}
