//=====================================
//shopper_profile_display(ファイルのcss)
//=====================================

.l-formshopperprofile {
    margin: auto;
    padding: size(xxl);
    text-align: center;
    background: color("formbackground");
    font-family: "Noto Serif TC", serif;
    font-size: size(xxl);
    width: 50%;
    height: 900px;
    line-height: 65px;
    &__te {
        justify-content: center;
        margin: size(xl);
        @include mq() {
            // background: cyan;
        }
    }

    &__text {
        background: white;
        margin: 20px 20px 20px;
        border: none;
        @include mq() {
            width: 100%;
        }
    }

    @include mqxl() {
        //  background: red;
        width: 75%;
    }
    @include mq() {
        background: red;
        height: 550px;
    }
}
//変更すると言う文字がずれたら　レスポンシブ対応をとる。
//980pxからレスポンシブ対応をする
