//=============================================
//商品の詳細画面の画面モック shopper_productdetail staff_productdetail
//=============================================
.l-productdetail {
    background: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: size(xxl);
    margin-bottom: size(xxl);
    border: solid size(sssss);
    border-radius: size(m);
    width: 85%;
    height: 900px;
}
