//===========================================
//コンビニ側のマイページ作成shopper_mypage_display
//===========================================
.l-shopper__mypagemenu {
    background: #f6f5f4;
    height: 430px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: solid size(sssss);
    border-radius: size(sss);
}
.l-shopper__mypagemenu__title {
    // background: red;
    text-align: center;
    margin-top: size(xxl);
    font-size: size(l);
}
.l-shopper__mypagemenu__list {
    //display: flex;
    justify-content: center;
    background: white;
    height: 280px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(l);
    font-size: size(m);
    border: solid size(sssss);
    border-radius: size(sss);
    text-align: center;
}
.l-shopper__mypage__list__title {
    // text-align: center;
    margin-top: size(m);
    margin-bottom: size(s);
}

.l-shopper__mypagemenu__list__button {
    height: size(xxl);
    font-size: size(m);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: solid size(ssss);
    background: #f6f5f4;

    border-radius: size(ss);
    transition: all 1.2s;
    &:hover {
        cursor: pointer;
        background: orange;
        box-shadow: 1px 1px 1px 1px #b2d142;
        transform: translateZ(+2px);
    }
}

//追加
.l-shoppermypage__title {
    //display: inline;
    text-align: center;
    // background: red;
    font-size: size(l);
    margin-top: size(m);
    margin-right: auto;
    margin-right: auto;
}
