//===========================================
//コンビニ側のマイページ作成shopper_mypage_display
//===========================================
.l-shopper__mypagemenu {
    background: #f6f5f4;
    height: 580px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    border: solid size(sssss);
    border-radius: size(sss);
}
.l-shopper__mypagemenu__title {
    // background: red;
    text-align: center;
    margin-top: size(xxl);
    font-size: size(l);
}
