//強制的に余白を動かす。
.u-space {
    padding: 10px;
}
.u-space__detail {
    text-align: center;
    margin-bottom: -20px;
    margin-left: auto;
}
//ここまで
//強制的に非表示にする
.u-hidden {
    display: none;
}
//ここまで
//商品詳細画面のレスポンシブ画面にするときデザインが崩れるのでそれを補正するためのコード
.u-productdetail {
    margin-top: 100px;
    margin-left: 64%;
    height: 60px;
}
