//===========================================
//コンビニ側のマイページ作成staff_mypage_display
//===========================================

.l-staffmypage {
    background: #f6f5f4;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 530px;
    border-radius: size(s);
    border: solid #174113;
}
.l-staffmypage__title {
    // background: red;
    font-size: size(m);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: size(xl);
    margin-bottom: size(xl);
}

.l-staffmypage__menu {
    background: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(xxl);
    height: 380px;
    border-radius: size(s);
    border: solid #174113;
    font-size: size(m);
}
// リストの幅設計
.l-staffmypage__buttonarea {
    width: 100%;
    margin: auto;
    margin-top: 60px;
    height: 160px;
    display: flex;
    background: #a8c079;
}
