//=========================================
//staff_exhibitproductlist (ページ）
//これに基づいてstaff_buyproductlistも使用する
//=========================================
.l-exhibitproductlist {
    display: block;
    background: rgba(255, 255, 255, 0.6);
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border: solid #174113;
    border-radius: size(ss);
    width: 70%;
    padding-left: 50px;
    padding-right: 50px;
    // height: 3800px;
    @include mqxl() {
    }
    @include mql() {
        width: 60%;
    }

    @include mq() {
        //414px対応
        width: 60%;
    }
}
