//=================================
//staff_exhibitproductlist (ページ）
//=================================
.l-exhibitproductlist {
    background: white;
    display: block;
    //中央に要素を寄せるときはこれを用いる
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 80%;
    height: 2300px;

    //画面の大きさによって高さが足りなくなりそうなのでレスポンシブを使う
}
