//===========================================
//コンビニ側のマイページ作成staff_mypage_display
//===========================================

.l-staffmypage {
    background: rgba(255, 255, 255, 0.6);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 530px;
    border: solid #174113;
}
.l-staffmypage__title {
    font-size: size(m);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: size(xl);
    margin-bottom: size(xl);
}

.l-staffmypage__menu {
    background: rgba(220, 168, 70, 0.8);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    height: 360px;
    font-size: size(m);
}
// リストの幅設計
.l-staffmypage__buttonarea {
    width: 100%;
    margin: auto;
    height: 180px;
    display: flex;
    background: orange;
    background: rgba(255, 255, 255, 0.6);
}
