//==========================
//コンビニスタッフ用staff_profile
//===========================

.l-formstaffprofile {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: size(xxl);
    text-align: center;
    background: color("formbackground");
    font-family: "Noto Serif TC", serif;
    font-size: size(xxl);
    width: 70%;
    height: 1800px;
    line-height: 65px;
    font-size: size(xxl);
    border: solid size(sssss);
    border-radius: size(sss);

    &__sub:hover {
        cursor: pointer;
        background: #b2d142;
    }
}
.l-formstaffprofile__text {
    background: white;
    border: none;
    border-radius: size(sss);
    margin-top: size(m);
    width: 50%;
    cursor: pointer;
}

.l-formstaffprofile__message {
    font-size: size(m);
    display: block;
    width: 40%;
    height: size(s);
    margin-top: size(s);
    margin-bottom: -30px;
}

.l-formstaff__adressarea {
    height: 600px;
    border: dotted size(sssss);
    border-radius: size(sss);
    margin-left: size(xl);
    margin-right: size(xl);
    margin-top: 80px;
}

.l-formstaff__adressarea__title {
    font-size: size(l);
    margin-top: size(xl);
    margin-bottom: size(xxl);
}

//都道府県のフォームが大きい
.l-formstaffprofile__prefecturetext {
    font-size: size(l);
    text-align: center;
    // height: 48px;
    width: 20%;
    border-radius: size(sss);
    margin-top: size(l);
    margin-bottom: size(l);
    margin-left: -180px;
    cursor: pointer;
    background: white;
}

//textareaも記述し直す
.l-formstaffprofile__adresstext {
    width: 80%;
    height: 180px;
    margin-top: 80px;
    border-radius: size(m);
    font-size: size(m);
    text-align: left;
    background: white;

    color: black;
    cursor: pointer;
}

//ボタン
.l-staffprofile__sub {
    border: none;
    background: #184113;
    border-radius: size(ss);
    color: white;
    width: 20%;
    margin-top: 50px;
    margin-left: 500px;
    transition: all 1.2s;
    cursor: pointer;

    &:hover {
        background: orange;
        box-shadow: 1px 1px 1px 1px #b2d142;
        transform: translateX(+5px);
    }
}
