//================================================================
// コンビニ側商品を出品する画面 staff_exhibitproduct and updateproduct
//================================================================
.c-staffform {
    background: rgba(255, 255, 255, 0.9);

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: size(xxl);
    margin-bottom: size(xxl);
    height: 1300px;
    border: solid #174113;
    border-radius: size(s);
}
.c-staffform__area {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: size(xxl);
    height: 900px;
    border-radius: size(sss);
}
.c-staffform__area__textname {
    //display: inline;
    background: white;
    font-size: size(xl);
    text-align: left;
    margin: size(sss);
    margin-bottom: size(l);
}

.c-staffform__area__textprice {
    background: white;
    width: 20%;
    font-size: size(l);
    margin-left: 180px;
    margin-bottom: size(l);
}

.c-staffform__area__textcarender {
    background: white;
    width: 20%;
    height: size(xxl);
    margin-right: auto;
    margin-bottom: size(l);
}

.c-staffform__area__uploadimgarea {
    width: 60%;
    background: white;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: size(l);
    cursor: pointer;
    transition: 0.3s;
    border-radius: size(l);

    &:hover {
        //background: red;
        border: dotted orange;
        border-radius: size(l);
    }
}

.c-staffform__area__textcalender {
    background: white;
}

.c-staffform__area__textimgarea {
    //写真を挿入したときに描かれる場所
    font-size: size(l);
    margin-top: size(l);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: size(l);
    background: white;
    width: 100%;
    height: 400px;
    padding-top: size(l);
    padding-bottom: size(l);
    padding-left: size(l);
    padding-right: size(l);

    border: dotted #174113;

    //padding: size(xxl);
    border-radius: size(ss);
}

.c-staffform__area__submitbutton {
    display: block;
    background: #174113;
    margin-top: 80px;
    margin-left: auto;
    height: 60px;
    width: 30%;
    border: none;
    border-radius: size(ss);
    color: white;
    transition: all 1.2s;
    &:hover {
        background: orange;
    }
}
