//================================================
// コンビニ側商品を出品する画面 staff_exhibitproduct
//================================================
.l-exhibitproduct {
    background: white;
    //display: flex;
    //中央に要素を寄せるときはこれを用いる
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 80%;
    height: 700px;
}

.l-productexhibitform__sentence {
    //ここで商品名が動けるところ
    margin: 10px;
    line-height: 10px;
}

.l-exhibitproduct__area {
    // display: flex;
    // margin: auto;
    background: color(sentence);
    color: white;
    //  text-align: center;
}
.k {
    padding: 10px;
}

.l-productexhibitform__flex {
    display: block;
    justify-content: center;
    //margin-left: auto;
    // margin-right: auto;
    padding: 2px;
    text-align: center;
    line-height: 35px;
    //margin-top: 10px;
}

.l-productexhibitform {
    display: block;
    //margin: auto;
    margin: size(l);
    width: 100%;
    text-align: center;
}
.m {
    margin: auto;
    text-align: center;
    line-height: 60px;
}

.center {
    width: 100%;
    text-align: center;
    margin: auto;
}
