//===========================================
//コンビニ側のマイページ作成staff_mypage_display
//===========================================

.l-staffmypage {
    background: rgba(255, 255, 255, 0.6);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 530px;
    border: solid #174113;
}
.l-staffmypage__title {
    font-size: size(m);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: size(xl);
    margin-bottom: size(xl);
}
